@using TOAST.Shared;
@using TOAST.Data.Model;
@model tblMOVMaster
@{
    ViewBag.Title = "Plant View - MOV Details View";
    Layout = null;
    bool ShowConn = ViewBag.ShowMOVConn;
    string MoVPrefix = (Model.TagPrefix + "_");
    string TkPrefix = (Model.tblTank == null ? "" : Model.tblTank.TagPrefix + "_");
    string tkname = (Model.tblTank == null ? (Model.Custom ?? Model.MovName) : Model.tblTank.TankName);
}
<div class="modal-dialog mov-modal" style="width: 480px;">
    <div class="modal-content">
        <div class="modal-header mov-valve-popup-header">
            <div class="mov-valve-popup-tank-name"><h3 class="modal-title" id="">@(Model.tblTank == null ? Model.Custom : Model.tblTank.TankName)</h3></div>
            <div class="mov-valve-popup-receipt-name"><h3 class="modal-title" id="">@(Model.tblMOVLine == null ? Model.tblHeadersMaster.tblProduct.ProdNameShort : Model.tblMOVLine.Line)</h3></div>
            <div class="mov-valve-popup-title" style="border-right: 0;">
                <h3 class="modal-title" id="myMOVModalLabel">@(tkname == Model.MovName ? "" : Model.MovName)</h3>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        </div>
        <div class="modal-body" id="myMOVModalBody" style="padding: 5px;">
            <input type="hidden" id="hdnTankAutoMan_@(Model.tblTank==null? "" :Model.tblTank.TankName)" class="@(Model.tblTank==null? "" :Model.tblTank.TagPrefix)_AUTOMAN" />
            <div class="mov-valve-popup">
                <div class="feedback-row">
                    <a class="push-btn-02 open-mov-btn @(MoVPrefix+"OPN_CMD")" href="javascript:void(0);" onclick="ValidateManualExecute('@(Model.TagPrefix)_AUTOMAN','Open/Close Command to MOV','Set Open Command to MOV: @(Model.MovName)',this, '@(Model.TagPrefix)_OPN_CMD', 'TOGGLE', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]')" data-opcvalue="">OPEN</a>
                    <a class="push-btn-02 close-mov-btn @(MoVPrefix+"CLS_CMD")" href="javascript:void(0);" onclick="ValidateManualExecute('@(Model.TagPrefix)_AUTOMAN','Open/Close Command to MOV','Set Close Command to MOV: @(Model.MovName)',this, '@(Model.TagPrefix)_CLS_CMD', 'TOGGLE', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]')" data-opcvalue="">CLOSE</a>
                </div>
                <div class="mov-valve-info-container">
                    <div class="col-lg-6">
                        <div title="No Feedback" data-tooltip-attr="MOV*" class="tooltips mov-valve @(MoVPrefix+"OPN_IMG") @(MoVPrefix+"CLS_IMG") @(MoVPrefix+"ALRM_IMG")">
                            <span class="maintainence-mode-icon @(MoVPrefix+ "MAINT_MODE")"></span>
                            <span class="mov-valve-fill">
                                <span class="fill-front"></span>
                                <span class="fill-value percentage @(MoVPrefix+ "FILL")" data-id="@(MoVPrefix+ "PER_OPN")"></span>
                            </span>
                        </div>
                        <span title="" data-tooltip-attr="LOCREM*" class="tooltips control-icon @(MoVPrefix+"LOCREM") @(MoVPrefix+"REMOTE_SELECT") @(MoVPrefix+"STOP_SELECT")"></span>
                        <span title="" data-tooltip-attr="AUTOMAN" class="tooltips control-icon @(MoVPrefix+"AUTOMAN")" onclick="OpenGenericAutoManModal('Change Auto/Manual Mode MOV', 'Device: @Model.MovName', '@(Model.TagPrefix + "_AUTOMAN")', '@(Model.TagPrefix + "_LOCREM")', 'TAG_AUTOMAN' , '@Model.PageName', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]'); cancelBubble(event);"></span>
                    </div>

                    <div class="col-lg-6 no-padd">
                        <div class="mov-valve-info-wrapper">
                            <table class="@(!ShowConn?"hide":"") detail-tbl">
                                <tbody>
                                    <tr class="odd">
                                        <td class="detail-tbl-lbl" style="width:65%"><span class="">Open Feedback</span></td>
                                        <td class="detail-tbl-val">
                                            <span class="circle-cont">
                                                <span class="@(MoVPrefix+"OPN_FB")"></span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="detail-tbl-lbl">
                                            <span class="v-align-sub">Close Feedback</span>
                                        </td>
                                        <td class="detail-tbl-val">
                                            <span class="circle-cont">
                                                <span class="@(MoVPrefix+"CLS_FB")"></span>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    createTooltip();
</script>