@using TOAST.Data.Model;
@using TOAST.Data.ViewModels;

@model List<ActivityPermissionCustom>

@{
    ViewBag.Title = "Activity Permissions";
    Layout = null;
    int UserRoleID = ViewBag.UserRoleID;
    string Designation = ViewBag.Designation;
}

<div class="row">
    <div class="col-lg-12 col-md-12 form-container">
        <form id="FormActivitys" role="form" class="form-fields">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="grid-header">Activity Permissions : @Designation</h4>
                    <table id="tblActivity" class="table">
                        <thead>
                            <tr>
                                <th style="display:none;">ActivityId</th>
                                <th class="text-center">Permission</th>
                                <th>Activity Group</th>
                                <th>Activity Name</th>
                                <th>Activity Description</th>
                                <th>Txn Pwd</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ActivityPermissionCustom itm in Model.Where(x=>x.Permission==true))
                            {
                                <tr>
                                    <td style="display:none;">@itm.ActivityID</td>
                                    <td>
                                        @if (itm.Permission == true)
                                        {
                                            <input type="checkbox" name="chkActivity" id="@itm.ActivityID" checked disabled>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="chkActivity" id="@itm.ActivityID" disabled>
                                        }
                                    </td>
                                    <td>@itm.ActivityGroup</td>
                                    <td>@itm.ActivityTitle</td>
                                    <td>@itm.ActivityToolTip</td>
                                    <td>@itm.ReqTxnPwd</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#tblActivity').dataTable({
            "iDisplayLength": iGblNoRows-9,
            "bLengthChange": false,
            "bFilter": true,
            "bPaginate": true,
            "bInfo": true,
            "bSort": false,
            "aoColumns":
                [
                    { sWidth: "0%", "sClass": "text-center" },
                    { sWidth: "10%", "sClass": "text-center" },
                    { sWidth: "15%" },
                    { sWidth: "15%" },
                    { sWidth: "45%" },
                    { sWidth: "15%", "sClass": "text-center" },
                ],
            "bAutoWidth": false,
        });
    });
</script>