@using TOAST.Shared;
@using TOAST.Data.Model;
@model tblPump
@{
    ViewBag.Title = "Plant View - Pump View";
    Layout = null;
    string PumpName = Model.EquipmentName;
    List<tblPump> SameGrpPumps = ViewBag.SameGrpPumps;
    List<tblTagMaster> DeviceTags = ViewBag.DeviceTags;
    tblPump pump = Model;
    string servicecls = Model.tblPumpService.TagPrefix.ToLower();
    string PmpTagPrefix = Model.TagPrefix;
    tblDeviceMaster SucPT = pump.tblDeviceMasters.Where(x => x.DeviceID == 3 && x.DeviceDesc.ToUpper().Contains("SUC")).FirstOrDefault();
    tblDeviceMaster DiscPT = pump.tblDeviceMasters.Where(x => x.DeviceID == 3 && x.DeviceDesc.ToUpper().Contains("DISC")).FirstOrDefault();
    tblDeviceMaster StrainerDPT = pump.tblDeviceMasters.Where(x => x.DeviceID == 23).FirstOrDefault();
    List<tblPumpService> PumpsServices = ViewBag.PumpsServices;
    List<tblPumpPriority> ddlPumpPriorities = ViewBag.PumpPriorities;
}
<div class="modal-dialog pump-view-modal" style="width: 560px;">
    <div class="modal-dialog" style="width: 550px;">
        <div class="modal-content">
            <div class="modal-header pump-househeader-popup-header">
                <div><h3 class="modal-title" id="">@Model.EquipmentName</h3></div>
                <div style="border-right: 0px;"><h3 class="modal-title" id="">@Model.tblProduct.ProductName</h3></div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body" id="myMOVModalBody" style="padding: 5px;">
                @{
                    string strSameGrpPumpsPrtyTags = String.Join(",", SameGrpPumps.Select(x => (x.TagPrefix + "_PRIORITY_DDL")).ToList());
                }
                <input type="hidden" id="SameGrpPumpsPrtyTags" value="@(strSameGrpPumpsPrtyTags)" />
                <div class="pump-househeader-popup">
                    <div class="pump-househeader-feedback-row">
                        <a class="push-btn-02 pump-start-btn @(PmpTagPrefix+"_START")" href="javascript:void(0);" onclick="SetProcessValue('Start/Stop Pump','Pump: @(PumpName)',this, '@(PmpTagPrefix+"_START")', 'GENERIC' , '@Session[clsConstants.UserID]' , '@Session[clsConstants.LoginID]' , '@Session[clsConstants.UserName]' )" data-opcvalue="">START</a>
                        <a class="push-btn-02 pump-stop-btn @(PmpTagPrefix+"_STOP")" href="javascript:void(0);" onclick="SetProcessValue('Start/Stop Pump','Pump: @(PumpName)',this, '@(PmpTagPrefix+"_STOP")', 'GENERIC' , '@Session[clsConstants.UserID]' , '@Session[clsConstants.LoginID]' , '@Session[clsConstants.UserName]' )" data-opcvalue="">STOP</a>
                    </div>
                    <div class="pump-househeader-info-container">
                        <div class="col-lg-6">
                            <div class="pump-view-pump @(pump.tblPumpService.TagPrefix.ToLower())-device" style="padding: 0px 0px;">
                                <span title="" data-tooltip-attr="LOCREM" class="tooltips control-icon @(PmpTagPrefix+"_LOCREM")"></span>
                                @if (SucPT != null)
                                {
                                    <span class="pt-val suc get-hover tooltips" title="Pump Suction Pressure" onclick="OpenChartModal('@(PmpTagPrefix+"_PT_SUC")', '@(pump.PageName)' ); cancelBubble(event);">
                                        <span class="pt-pump-val @(PmpTagPrefix+"_PT_SUC") @(PmpTagPrefix+"_PT")"></span><br />Kg/cm²
                                    </span>
                                }
                                <div title="Pump Off" data-tooltip-attr="PMP*" onclick="OpenPumpModal(@pump.UniqueID,'@(pump.PageName)')" class="tooltips @pump.tblPumpService.TagPrefix.ToLower() @(PmpTagPrefix+"_RUN_IMG") @(PmpTagPrefix+"_TRIP_IMG") @(PmpTagPrefix+"_FAIL_IMG")" style="position: relative;left:10px;top:2px;margin: auto;height: 150px;">
                                    <span class="maintainence-mode-icon @(PmpTagPrefix+"_MAINT")"></span>
                                </div>
                                @if (DiscPT != null)
                                {
                                    <span class="pt-val disc get-hover tooltips" title="Pump Discharge Pressure" onclick="OpenChartModal('@(PmpTagPrefix+"_PT_DISC")', '@(pump.PageName)' ); cancelBubble(event);">
                                        <span class="pt-pump-val @(PmpTagPrefix+"_PT_DISC") @(PmpTagPrefix+"_PT")"></span><br />Kg/cm²
                                    </span>
                                }
                                <span title="" data-tooltip-attr="AUTOMAN" class="tooltips control-icon @(PmpTagPrefix+"_AUTOMAN")" onclick="OpenGenericAutoManModal('Change Auto/Manual Mode Pump','Pump: @pump.EquipmentName', '@(PmpTagPrefix+"_AUTOMAN")', '@(PmpTagPrefix+"_LOCREM")' , 'TAG_AUTOMAN' ,'@pump.PageName','@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]' , '@Session[clsConstants.UserName]' ); cancelBubble(event);"></span>
                                <span class="sine-wave tooltips @(PmpTagPrefix+"_ON_VFD")" title="Pump on VFD"></span>
                                <a class="push-btn-01 set @(PmpTagPrefix+"_RESET_FAIL") tooltips" title="Reset Fault / Fail / Trip" onclick="SetProcessValue('Reset Pump Fail','Reset Fault/Fail/Trip: @PumpName',this, '@(PmpTagPrefix+"_RESET_FAIL")', 'GENERIC', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]')">
                                    <i class="fa fas fa-retweet" style="vertical-align: text-top;" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 no-padd">
                            <table class="detail-tbl table-striped">
                                <tbody>
                                    <tr>
                                        <td class="detail-tbl-lbl"><span class="">Run Feedback</span></td>
                                        <td class="detail-tbl-val">
                                            <span class="circle-cont">
                                                <span class="pump-househeader-info-val @(PmpTagPrefix+"_RUN_FB")"></span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="detail-tbl-lbl">
                                            <span class="v-align-sub">Maintainence Mode</span>
                                        </td>
                                        <td class="detail-tbl-val" style="text-align: center;">
                                            <div class="toggle-wrapper" onclick="cancelBubble(event);SetProcessValue('Set PUMP Maintainence Mode','Set Pump to Maintainence Mode: @(Model.EquipmentName)',this, '@(PmpTagPrefix+"_MAINT")', 'TOGGLE', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]')">
                                                <input id="toggle-maintainence-mode" class="on-off-btn @(PmpTagPrefix+"_MAINT") " checked type="checkbox" data-opcvalue="">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="detail-tbl-lbl">
                                            <span class="v-align-sub">Local Permisive</span>
                                        </td>
                                        <td class="detail-tbl-val" style="text-align: center;">
                                            <div class="toggle-wrapper" onclick="cancelBubble(event);SetProcessValue('Set PUMP Local Permisive','PUMP Local Permisive: @(Model.EquipmentName)',this, '@(PmpTagPrefix+"_LOC_PERM")', 'TOGGLE', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]')">
                                                <input id="toggle-local-permissive" class="on-off-btn @(PmpTagPrefix+"_LOC_PERM")" checked type="checkbox" data-opcvalue="">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="detail-tbl-lbl" colspan="2">
                                            <span class="v-align-sub">Priority: &nbsp;</span>
                                            <select id="ddl@(PmpTagPrefix)" class="prty_@servicecls @(PmpTagPrefix)_PRIORITY_DDL">
                                                <option value="0">-Select Priority-</option>
                                                @foreach (tblPumpPriority prty in ddlPumpPriorities)
                                                {
                                                    <option value="@prty.PriorityID">@prty.PriorityDescription</option>
                                                }
                                            </select>
                                            <span class="glyphicon glyphicon-upload" onclick="UpdatePumpPriorityDDL('@(PmpTagPrefix+"_PRIORITY_DDL")','@servicecls','ddl@(PmpTagPrefix)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="col-lg-12 pump-view-detail-container">
                        <table class="table-striped app-tbl">
                            <thead>
                                <tr>
                                    <th class="text-center" style="background-color: #aca89f;color: #fff;font-size: 17px;" colspan="6">Fire Water Pump Data</th>
                                </tr>
                                <tr>
                                    <th class="text-center bg-color" style="width: 35%">Signal</th>
                                    <th class="text-center bg-color" style="width: 15%">Staus</th>
                                    <th class="text-center bg-color" style="width: 35%">Signal</th>
                                    <th class="text-center bg-color" style="width: 15%">Staus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="detail-tbl-lbl"><span class="">High Colant Temp</span></td>
                                    <td class="detail-tbl-val">
                                        <span class="alert-cont-md">
                                            <span class="pump-househeader-info-val @(PmpTagPrefix+"_HIGH_TEMP")"></span>
                                        </span>
                                    </td>
                                    <td class="detail-tbl-lbl"><span class="">Lube Oil Press Low</span></td>
                                    <td class="detail-tbl-val">
                                        <span class="alert-cont-md">
                                            <span class="pump-househeader-info-val @(PmpTagPrefix+"_LUBE_PRESS_LOW")"></span>
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="detail-tbl-lbl"><span class="">Over Speed</span></td>
                                    <td class="detail-tbl-val">
                                        <span class="alert-cont-md">
                                            <span class="pump-househeader-info-val @(PmpTagPrefix+"_OVER_SPEED")"></span>
                                        </span>
                                    </td>
                                    <td class="detail-tbl-lbl"><span class="">Fail Feedback</span></td>
                                    <td class="detail-tbl-val">
                                        <span class="alert-cont-md">
                                            <span class="pump-househeader-info-val @(PmpTagPrefix+"_FAIL_FB")"></span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12 no-padd pump-run-hr-block">
                        <div class="pump-timer-block">

                            <div class="col-lg-5 no-padd-left">
                                <label>Run Hours: &nbsp;</label>
                                <span class="pump-timer @(PmpTagPrefix + "_RUN_HRS")">
                                    <span class="@(PmpTagPrefix + "_RUN_HRS_HH")"></span>:<span class="@(PmpTagPrefix + "_RUN_HRS_MM")"></span>
                                </span>
                            </div>
                            <div class="col-lg-2 text-center">
                                <a class="push-btn pump-timer-reset-btn" href="javascript:void(0);" onclick="PumpRunHrsReset('@PumpName',this, '@(PmpTagPrefix + "_RESET_RUN_HRS")','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')">Reset</a>
                            </div>
                            <div class="col-lg-5 no-padd-left">
                                <hr class="devider vertical" />
                                <label>Fuel Level: &nbsp;</label>
                                <span class="pump-timer">
                                    <span class="@(PmpTagPrefix + "_FUEL_LEVEL")"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    createTooltip();

</script>


