@using TOAST.Data.Model;
@using System.Linq;
@model TOAST.Data.Model.tblBatchController
@{
    ViewBag.Title = "Edit Batch Controller";
    Layout = null;

    var dropdownMakes = ViewBag.dropdownMakes;
    var makeValue = ViewBag.makeValue??String.Empty;
}

<h2 class="headingPage">
    Edit Batch Controller
</h2>
<div class="row">
    <div class="col-lg-12 col-md-12 form-container">
        <form id="FormBU" role="form" class="form-fields">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="fields form-group">
                    <label>Batch Controller Number</label>
                    <input id="txtBCNo" name="BCNo" value="@Model.BCNo" type="text" placeholder="Batch Controller Number" class="form-control" disabled="disabled">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="fields form-group">
                    <label>Batch Controller Name</label>
                    <input id="txtBCName" name="BCName" value="@Model.BCName" type="text" placeholder="Batch Controller Name (3-30 Chars)" class="form-control">
                </div>
            </div>
            <div class="hide col-lg-3 col-md-3 col-sm-3">
                <div class="fields form-group">
                    <label>ACU Number</label>
                    <input id="txtACUNo" name="ACUNo" value="@Model.AcuID" type="text" placeholder="ACU Number" class="form-control">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="fields form-group">
                    <label>Modbus Address</label>
                    <input id="txtSlaveID" name="SlaveID" value="@Model.SlaveID" type="text" placeholder="Modbus Address (3-30 Chars)" class="form-control">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="fields form-group">
                    <label>Makes</label>
                    <select class="form-control" id="ddlBatchMake" name="batchMake">
                        <option value="0">Select Make</option>
                        @foreach (tblBCMake data in dropdownMakes)
                        {
                            if (data.Make.ToUpper() == makeValue.ToUpper())
                            {
                                <option value="@data.UniqueID" selected>@data.Make</option>
                            }
                            else
                            {
                                <option value="@data.UniqueID">@data.Make</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="fields form-group">
                    <label>Model</label>
                    <select class="form-control" id="ddlBatchModel" name="batchModel">
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="fields form-group">
                    <label>Firmware Version</label>
                    <select class="form-control" id="ddlBatchFirmware" name="batchFirmware">
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 checkbox-field">
                <div class="input-group fields form-group">
                    <span class="input-group-addon">
                        <input id="chkESDBypass" name="ESDBypass" type="checkbox" checked="@(Model.ESDBypass)" class="form-control">
                    </span>
                    <input type="text" class="form-control" value="ESD Bypass" disabled>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row button-bar">
    <div class="col-lg-12">
        <a id="saveButton" role="button" class="btn btn-primary" href="#" onclick="UpdateBatchController();"><span class="glyphicon glyphicon-floppy-saved"></span>UPDATE</a>
        <a id="cancelButton" role="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="#cancelModal"><span class="glyphicon glyphicon-remove"></span>CANCEL</a>
    </div>
</div>
<script src="~/Scripts/PageJS/Masters/BatchController/BatchController.js"></script>

<script>
    $(document).ready(function () {
        LoadModelFirmware(@Model.BCMakes);
    });
</script>
