@using TOAST.Data.Model;
@using TOAST.Business;
@using TOAST.Shared;
@using TOAST.Data.ViewModels;
@model List<BayQueue>
@{
    ViewBag.Title = "Index";
    Layout = null;
    string CustName = clsConfig.CustomerName;
    string Application = clsConfig.Application;
}

<div class="row bay-queue-wrapper">
    <div class="col-lg-12">
        <h3 class="grid-header">Bay Queue</h3>
        <table id="tblLoadingPointMasterQueue" class="table">
            <thead>
                <tr>
                    <th>Bay Id</th>
                    <th>TT1 </th>
                    <th>TT2</th>
                    <th>TT3</th>
                    <th>TT4</th>
                    <th>TT5</th>
                    <th>TT6</th>
                </tr>
            </thead>
            <tbody id="tblLoadingPointMasterQueueBody">
                @{
                    foreach (BayQueue itm in Model)
                    {
                        int cnt = 0;
                        <tr class="height51">
                            <td>@itm.BayID</td>
                            @foreach (BayQueueTruck truck in itm.lstTruck)
                            {
                                <td align="center" class="clickable truckImage @CustName @Application truckStatus_@truck.TruckStatusId"
                                    onclick="ShowTruckNoDetails(this, '@truck.TruckNumber.Trim()', '@truck.LoadID');">
                                    <span class="truckNumber">@truck.TruckNumber.Trim()</span> <span class="truckStatus">@truck.TruckStatus</span>
                                </td>
                                cnt++;
                            }
                            @if (cnt < 6)
                            {
                                for (int iCnt = cnt + 1; iCnt <= 6; iCnt++)
                                {
                                    <td>&nbsp;</td>
                                }
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row" id="dvBayQueue">

</div>

<script>
    localStorage.removeItem("CustName");
    localStorage.removeItem("Application");
    localStorage.setItem("CustName", '@CustName');
    localStorage.setItem("Application", '@Application');
</script>

<script src="~/Scripts/PageJS/Transactions/BayQueue/IndexOld.js"></script>