@using TOAST.Data.Model;
@model List<TOAST.Data.Model.tblLoadDetail>
@{
    Layout = null;
    tblLoadDetail obj = Model.Take<tblLoadDetail>(1).SingleOrDefault();
}

<div class="col-lg-12">
    <table id="tblTruckNoDetails" class="table">
        <thead>
            <tr>
                <th style="display:none;">Gantry No</th>           
                <th>FAN Slip No</th>
                <th>Card Number</th>
                <th>CompNo</th>
                <th>Product</th>
                <th>Customer</th>            
                <th>Destination</th>
            </tr>
        </thead>
        <tbody>
            @foreach (tblLoadDetail itm in Model)
            {
                <tr>
                    <td style="display:none;"></td>                 
                    <td>@itm.FanSlipNo</td>
                    @if (itm.tblLoadMaster.tblCard != null)
                    {
                        <td>@itm.tblLoadMaster.tblCard.CardNumber</td>
                    }
                    else
                    {
                        <td>&nbsp;</td>
                    }
                    <td>@itm.CompNo</td>
                    <td>@itm.tblProduct.ProductDescription</td>
                    <td>@itm.tblCustomer.CustomerDesc</td>                                                       
                    <td>@itm.tblDestination.DestinationDesc</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*<script src="~/Scripts/PageJS/Transactions/BayQueue/TruckNodetails.js"></script>*@
