@using TOAST.Shared;
@using TOAST.Business;
@using TOAST.Data.Model;
@model TOAST.Data.Model.tblTank
@{
    ViewBag.Title = "Plant View - Tank View";
    Layout = null;
    tblTank tank = Model;
    List<tblTank> SameGrpTanks = ViewBag.SameGrpTanks;
    List<tblMOVMaster> tankMOVs = tank.tblMOVMasters.ToList();
    List<tblTagMaster> DeviceTags = ViewBag.DeviceTags;
    string TkPrefix = tank.TagPrefix;
    bool ShowSafetyRadarDataLevel = ViewBag.ShowSafetyRadarLevel;
    bool isWater = (tank.tblProduct.ProductName.ToUpper().Contains("WATER")) ? true : false;
    string CustName = clsConfig.CustomerName;
    bool ShowInterlockNotes = (CustName == "HPCL");
    double dwidth = 873;
    if (tankMOVs.Count() > 5) { dwidth = 873 + (tankMOVs.Count() - 5) * 97;  }

    string strLevelUOM = "";
    tblTagMaster LevelTag = DeviceTags.Where(x => x.TagName == TkPrefix + "_LEVEL").FirstOrDefault();
    if (LevelTag != null && LevelTag.UnitId != null && LevelTag.tblUOMMaster != null) { strLevelUOM = LevelTag.tblUOMMaster.UOM; }


    string strPressurelUOM = "";
    tblTagMaster PressureTag = DeviceTags.Where(x => x.TagName == TkPrefix + "_PRESSURE").FirstOrDefault();
    if (PressureTag != null && PressureTag.UnitId != null && PressureTag.tblUOMMaster != null) { strPressurelUOM = PressureTag.tblUOMMaster.UOM; }


    string strVolumelUOM = "";
    tblTagMaster TOVTag = DeviceTags.Where(x => x.TagName == TkPrefix + "_TOV").FirstOrDefault();
    if (TOVTag != null && TOVTag.UnitId != null && TOVTag.tblUOMMaster != null) { strVolumelUOM = TOVTag.tblUOMMaster.UOM; }


    string strFlowRatelUOM = "";
    tblTagMaster FlowRateTag = DeviceTags.Where(x => x.TagName == TkPrefix + "_FLOW_RATE").FirstOrDefault();
    if (FlowRateTag != null && FlowRateTag.UnitId != null && FlowRateTag.tblUOMMaster != null) { strFlowRatelUOM = FlowRateTag.tblUOMMaster.UOM; }
}
<div class="modal-dialog tank-modal" style="width: @(dwidth+"px;")">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myTANKVIEWModalLabel">@(tank.TankName) | @tank.tblProduct.ProdNameShort</h3>
        </div>
        <div class="modal-body" id="myMOVModalBody" style="padding: 5px;">
            @{
                string SameProdTanksTags = String.Join(",", SameGrpTanks.Select(x => (x.TagPrefix + "_MODE_DDL")).ToList());
                if (SameProdTanksTags != "")
                {
                    <input type="hidden" id="SameGrpTankModeTags" value="@(SameProdTanksTags)" />
                }
            }
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <div class="box-panel tank-level-detail-container">
                            <div class="tank-level-detail-heading">Tank Details</div>
                            <div class="tank-level-detail-row odd">
                                <div class="tank-level-detail-lbl">Tank Name</div>
                                <div class="tank-level-detail-val">@(tank.TankName)</div>
                            </div>
                            <div class="tank-level-detail-row even">
                                <div class="tank-level-detail-lbl">Product Name</div>
                                <div class="tank-level-detail-val">@tank.tblProduct.ProdNameShort</div>
                            </div>
                            <div class="tank-level-detail-row odd">
                                <div class="tank-level-detail-lbl">Dip Ref. Height (@strLevelUOM)</div>
                                <div class="tank-level-detail-val">@tank.DipReferenceHeight</div>
                            </div>
                            @*<div class="tank-level-detail-row even">
                                    <div class="tank-level-detail-lbl">Tank Dia (m)</div>
                                    <div class="tank-level-detail-val">@tank.NominalDia</div>
                                </div>*@
                            <div class="tank-level-detail-row even">
                                <div class="tank-level-detail-lbl">Tank Type</div>
                                <div class="tank-level-detail-val">@tank.tblTankType.TankType</div>
                            </div>
                            <div class="tank-level-detail-row odd">
                                <div class="tank-level-detail-lbl">Safe Filling Height (@strLevelUOM)</div>
                                <div class="tank-level-detail-val @(TkPrefix)_SP_HHH">@tank.SafeFillingCapacity</div>
                            </div>
                            <div class="tank-level-detail-row even">
                                <div class="tank-level-detail-lbl">Capacity (KL)</div>
                                <div class="tank-level-detail-val">@tank.MaxVolume</div>
                            </div>
                        </div>
                        <div class="box-panel tank-level-detail-container">
                            <div class="tank-level-detail-heading">Measured Values</div>
                            <div class="tank-level-detail-row odd">
                                <div class="tank-level-detail-lbl">Level (@strLevelUOM)</div>
                                <div class="tank-level-detail-val get-hover @(TkPrefix)_LEVEL" onclick="OpenChartModal('@(TkPrefix+"_LEVEL")')"></div>
                            </div>
                            @if (tank.NoOfTempEle > 0)
                            {
                                <div class="tank-level-detail-row even">
                                    <div class="tank-level-detail-lbl">Temperature (℃)</div>
                                    <div class="tank-level-detail-val get-hover @(TkPrefix)_AVG_TEMP" onclick="OpenChartModal('@(TkPrefix+"_AVG_TEMP")')"></div>
                                </div>
                            }
                            <div class="tank-level-detail-row odd">
                                <div class="tank-level-detail-lbl">Total Obs. Volume (@strVolumelUOM)</div>
                                <div class="tank-level-detail-val @(TkPrefix)_TOV"></div>
                            </div>
                            @if (!String.IsNullOrWhiteSpace(tank.DensityTagPrefix))
                            {
                                <div class="tank-level-detail-row even">
                                    <div class="tank-level-detail-lbl">Obs. Density (kg/m³)</div>
                                    <div class="tank-level-detail-val get-hover @((tank.DensityTagPrefix??TkPrefix))_AMB_DENSITY" onclick="OpenChartModal('@((tank.DensityTagPrefix??TkPrefix)+"_AMB_DENSITY")')"></div>
                                </div>
                                <div class="tank-level-detail-row even">
                                    <div class="tank-level-detail-lbl">Std. Density (kg/m³)</div>
                                    <div class="tank-level-detail-val get-hover @((tank.DensityTagPrefix??TkPrefix))_STD_DENSITY" onclick="OpenChartModal('@((tank.DensityTagPrefix??TkPrefix)+"_STD_DENSITY")')"></div>
                                </div>
                            }
                            @if (tank.WBSLocation != null)
                            {
                                string strWaterUOM = "";
                                tblTagMaster WaterLevelTag = DeviceTags.Where(x => x.TagName == TkPrefix + "_WATER_LVL").FirstOrDefault();
                                if (WaterLevelTag != null && WaterLevelTag.UnitId != null && WaterLevelTag.tblUOMMaster != null) { strWaterUOM = WaterLevelTag.tblUOMMaster.UOM; }
                                <div class="tank-level-detail-row odd">
                                    <div class="tank-level-detail-lbl">Water Level (@strWaterUOM)</div>
                                    <div class="tank-level-detail-val get-hover @(TkPrefix)_WATER_LVL" onclick="OpenChartModal('@(TkPrefix+"_WATER_LVL")')"></div>
                                </div>
                                <div class="tank-level-detail-row even">
                                    <div class="tank-level-detail-lbl">Water Vol (@strVolumelUOM)</div>
                                    <div class="tank-level-detail-val get-hover @(TkPrefix)_WATER_VOL" onclick="OpenChartModal('@(TkPrefix+"_WATER_VOL")')"></div>
                                </div>
                            }
                            <div class="tank-level-detail-row odd">
                                <div class="tank-level-detail-lbl">Ullage Level (@strLevelUOM)</div>
                                <div class="tank-level-detail-val @(TkPrefix)_ULLAGE_LVL"></div>
                            </div>
                            <div class="tank-level-detail-row even">
                                <div class="tank-level-detail-lbl">Ullage Vol (@strVolumelUOM)</div>
                                <div class="tank-level-detail-val @(TkPrefix)_ULLAGE_VOL"></div>
                            </div>
                            <div class="tank-level-detail-row odd">
                                <div class="tank-level-detail-lbl">Vol. Flow Rate (@strFlowRatelUOM)</div>
                                <div class="tank-level-detail-val @(TkPrefix)_FLOW_RATE"></div>
                            </div>
                            <div class="hide tank-level-detail-row odd">
                                <div class="tank-level-detail-lbl">Gauge Status</div>
                                <div class="tank-level-detail-val">
                                    <span class="alert-cont-md">
                                        <span class="@(TkPrefix)_GAUGE_STATUS"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="box-panel hide">
                            <table class="detail-tbl">
                                <tbody>
                                    <tr>
                                        <td class="detail-tbl-lbl">Maintenance mode</td>
                                        <td class="detail-tbl-val">
                                            <div class="toggle-wrapper float-r" onclick="cancelBubble(event);SetProcessValue('Set Tank to Maintenance Mode','Tank: @tank.TankName',this, '@(TkPrefix+"_MAINT")', 'TOGGLE', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]')">
                                                <input id="toggle-maintainence-mode" class="on-off-btn @(TkPrefix+"_MAINT")" data-on="On" data-off="Off" checked type="checkbox" data-opcvalue="">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="detail-tbl-lbl">Allow Dispatch after HHH</td>
                                        <td class="detail-tbl-val">
                                            @if (tank.tblProduct.Visible)
                                            {
                                                <div class="toggle-wrapper float-r" onclick="cancelBubble(event);SetProcessValue('Enable Dispatch After HHH','Tank: @tank.TankName',this, '@(TkPrefix+"_DISP_HHH")', 'TOGGLE', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]')">
                                                    <input id="toggle-maintainence-mode" class="on-off-btn @(TkPrefix+"_DISP_HHH")" data-on="Yes" data-off="No" checked type="checkbox" data-opcvalue="">
                                                </div>
                                            }
                                            else
                                            {
                                                <span>N/A</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="detail-tbl-lbl">Allow Receipt after HHH</td>
                                        <td class="detail-tbl-val">
                                            @if (tank.tblProduct.Visible)
                                            {
                                                <div class="toggle-wrapper float-r" onclick="cancelBubble(event);SetProcessValue('Enable Receipt After HHH','Tank: @tank.TankName',this, '@(TkPrefix+"_DISP_HHH")', 'TOGGLE', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]')">
                                                    <input id="toggle-maintainence-mode" class="on-off-btn @(TkPrefix+"_RECP_HHH")" data-on="Yes" data-off="No" checked type="checkbox" data-opcvalue="">
                                                </div>
                                            }
                                            else
                                            {
                                                <span>N/A</span>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="oil-tank-product-row">
                            @*<div class="oil-tank-product-lbl">Tank Name</div>
                                <div class="oil-tank-product-val">@(tank.TankName)</div>
                                <div class="oil-tank-product-lbl">Product Name</div>
                                <div class="oil-tank-product-val">@tank.tblProduct.ProdNameShort</div>*@
                        </div>
                        <div class="oil-tank-container">
                            <div class="tank-block @tank.tblTankType.TankType">
                                <span class="maintainence-mode-icon @(TkPrefix)_MAINT"></span>
                                <span class="stair">
                                    <span class="app-logo @CustName"></span>
                                </span>
                                <span class="@(TkPrefix + "_LEVEL")" style="display: none;"></span>
                                <span class="oil-tank-fill-container @(TkPrefix)_OIL_TANK_FILL">
                                    @{
                                        if (tank.DefloatLevel > 0)
                                        {
                                            <span class="level-line-cont tooltips" title="Level ('@(tank.DefloatLevel) @(strLevelUOM)') below which Tank will Defloat">
                                                <span class="level-line"></span>
                                                <span class="level-value"></span>
                                            </span>
                                        }
                                    }
                                    <span class="oil-tank-base"></span>
                                    <span class="oil-tank-fill" style="background-color:@tank.tblProduct.ProductColor; height: 3%"></span>
                                </span>
                                <span class="tank-lbl-wrapper">
                                    <span class="oil-tank-lbl cir-red-hhh">
                                        <label class="@((tank.TankType==3||isWater)?"hide":"")">HHH</label>
                                        <span class="@(TkPrefix)_HHH @(TkPrefix)_ALRM_HHH @((tank.TankType==3||isWater)?"hide":"")"></span>
                                    </span>

                                    <span class="oil-tank-lbl cir-red-hh">
                                        <label>HH</label>
                                        <span class="@(TkPrefix)_HH @(TkPrefix)_ALRM_HH"></span>
                                    </span>

                                    <span class="oil-tank-lbl  cir-red-h">
                                        <label>H</label>
                                        <span class="@(TkPrefix)_H @(TkPrefix)_ALRM_H"></span>
                                    </span>

                                    <span class="oil-tank-lbl cir-red-l">
                                        <label>L</label>
                                        <span class="@(TkPrefix)_L @(TkPrefix)_ALRM_L"></span>
                                    </span>

                                    <span class="oil-tank-lbl  cir-red-ll">
                                        <label>LL</label>
                                        <span class="@(TkPrefix)_LL @(TkPrefix)_ALRM_LL"></span>
                                    </span>

                                    <span class="oil-tank-lbl  cir-red-lll" style="display:none">
                                        <label>LLL</label>
                                        <span class="@(TkPrefix)_LLL @(TkPrefix)_ALRM_LLL"></span>
                                    </span>
                                </span>
                                <span class="@(TkPrefix)_FLW_RATE level-rate-icon"></span>
                            </div>
                            <div style="text-align:center">
                                <span>Current Mode:</span>
                                <span class="@(TkPrefix + "_MODE_DDL")" style="font-weight: bold;">
                                    <span></span>
                                </span>
                            </div>
                            @if (ShowSafetyRadarDataLevel && tank.tblProduct.Visible && !String.IsNullOrWhiteSpace(tank.SecGaugeType))
                            {
                                <span class="tank-secondary-data tooltips cursor-point get-hover" title="Safety Radar Product Level" onclick="OpenChartModal('@(TkPrefix+"_SEC_LEVEL")', '@(tank.PageName)'); cancelBubble(event);">
                                    <span class="@(TkPrefix)_SEC_LEVEL"></span> @strLevelUOM
                                </span>
                                <span class="tooltips tank-sec-data-support-txt cursor-point" title="Process & Safety Radar Level Diff"><span class="@(TkPrefix)_PRI_SEC_LVL_DIFF"></span> <span> @strLevelUOM</span></span>
                                <span class="alert-cont-xsm">
                                    <span class="tooltips @(TkPrefix)_PRI_SEC_DIFF_ALERT" title="Process & Safety Radar Level Diff > 5mm" style="position: absolute; right: 0px; top: 50px;"></span>
                                </span>

                            }
                            <div class="remote-auto-icon-block">
                                <span class="hide control-icon clickable @(TkPrefix)_AUTOMAN" onclick="OpenAutoManModal(this, '@tank.UniqueID','@(tank.TankName)','@(TkPrefix)_AUTOMAN', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]');"></span>
                            </div>

                            <span class="thermometer-block">
                                <span class="thermometer-lbl"></span>
                                @*<span class="thermometer-fill-percentage"><span class="@(tank.TankName)_PERCENTAGE" data-id=""></span> %</span>*@
                                <span class="thermometer-fill-percentage tooltips" title="Tank % filled"><span class="@(TkPrefix)_PER_LVL"></span> %</span>
                                <span class="thermometer-fill-prod-level get-hover tooltips" title="Process Radar Product Level" onclick="OpenChartModal('@(TkPrefix+"_LEVEL")', '@(tank.PageName)'); cancelBubble(event);"><span class="@(TkPrefix)_LEVEL"></span> @strLevelUOM</span>
                                <span class="thermometer-fill-degree tooltips" title="Product Avg Temp."><span class="@(TkPrefix)_AVG_TEMP"></span> °C</span>
                                @if (!String.IsNullOrWhiteSpace(tank.DensityTagPrefix))
                                {<span class="observed-density tooltips" title="Observed Density"><span class="@((tank.DensityTagPrefix ?? TkPrefix))_AMB_DENSITY"></span> kg/m³</span>}
                            </span>
                        </div>
                        @{
                            string oil = ""; string OISD = "none";
                            int Width = 4;
                            if (tank.tblProduct.ProductName.ToUpper().Contains("WATER")) { oil = "none"; OISD = "block"; }

                            <div class="box-panel tank-level-detail-container-right" style="display: @oil;">
                                @if (Model.TankType == 2 || Model.TankType == 1)
                                {
                                    <div class="col-lg-@Width no-padd">
                                        <div class="tank-level-detail-row">
                                            <div class="tank-level-detail-alrm">HHH(@strLevelUOM)</div>
                                            <div class="tank-level-detail-val-alrm">
                                                <input type="number" step="0.01" min=0 readonly class="editable-input @(TkPrefix)_SP_HHH" ondblclick="this.readOnly='';"
                                                       style="border: 0px;" value="@(TkPrefix)_SP_HHH">
                                                <span class="glyphicon glyphicon-upload" onclick="UpdateTankLvlSetPoints(this,'@(TkPrefix)_SP_HHH','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        <div class="tank-level-detail-row">
                                            @if ((Model.DefloatLevel??0) != 0 && Model.TankType == 2)
                                            {
                                                <div class="tank-level-detail-alrm tooltips" title="Alarm Level (mm) to avoid Tank to defloat">Defloat</div>
                                                <div class="tank-level-detail-val-alrm ">
                                                    <input type="number" step="0.01" min=0 readonly class="editable-input @(TkPrefix)_DEFLT_SP" ondblclick="this.readOnly='';"
                                                           style="border: 0px;" value="@(TkPrefix)_DEFLT_SP">
                                                    <span class="glyphicon glyphicon-upload" onclick="UpdateTankLvlSetPoints(this,'@(TkPrefix)_DEFLT_SP','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="tank-level-detail-alrm">Op.Hi(@strLevelUOM)</div>
                                                <div class="tank-level-detail-val-alrm ">
                                                    <input type="number" readonly class="editable-input @(TkPrefix)_SP_OP_HI" ondblclick="this.readOnly='';"
                                                           style="border: 0px;" value="@(TkPrefix)_SP_OP_HI">
                                                    <span class="glyphicon glyphicon-upload" onclick="UpdateTankLvlSetPoints(this,'@(TkPrefix)_SP_OP_HI','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    Width = 6;
                                }
                                <div class="col-lg-@Width no-padd">
                                    <div class="tank-level-detail-row">
                                        <div class="tank-level-detail-alrm">HH(@strLevelUOM)</div>
                                        <div class="tank-level-detail-val-alrm">
                                            <input type="number" step="0.01" min=0 readonly class="editable-input @(TkPrefix)_SP_HH" ondblclick="this.readOnly='';"
                                                   style="border: 0px;" value="@(TkPrefix)_SP_HH">
                                            <span class="glyphicon glyphicon-upload" onclick="UpdateTankLvlSetPoints(this,'@(TkPrefix)_SP_HH','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="tank-level-detail-row">
                                        <div class="tank-level-detail-alrm">LL (@strLevelUOM)</div>
                                        <div class="tank-level-detail-val-alrm">
                                            <input type="number" step="0.01" min=0 readonly class="editable-input @(TkPrefix)_SP_LL" ondblclick="this.readOnly='';"
                                                   style="border: 0px;" value="@(TkPrefix)_SP_LL">
                                            <span class="glyphicon glyphicon-upload" onclick="UpdateTankLvlSetPoints(this,'@(TkPrefix)_SP_LL','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-@Width no-padd">
                                    <div class="tank-level-detail-row">
                                        <div class="tank-level-detail-alrm">H (@strLevelUOM)</div>
                                        <div class="tank-level-detail-val-alrm">
                                            <input type="number" step="0.01" min=0 readonly class="editable-input @(TkPrefix)_SP_H" ondblclick="this.readOnly='';"
                                                   style="border: 0px;" value="@(TkPrefix)_SP_H">
                                            <span class="glyphicon glyphicon-upload" onclick="UpdateTankLvlSetPoints(this,'@(TkPrefix)_SP_H','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="tank-level-detail-row">
                                        <div class="tank-level-detail-alrm">L (@strLevelUOM)</div>
                                        <div class="tank-level-detail-val-alrm">
                                            <input type="number" step="0.01" min=0 readonly class="editable-input @(TkPrefix)_SP_L" ondblclick="this.readOnly='';"
                                                   style="border: 0px;" value="@(TkPrefix)_SP_L">
                                            <span class="glyphicon glyphicon-upload" onclick="UpdateTankLvlSetPoints(this,'@(TkPrefix)_SP_L','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="statutory-gantry-block" style="display: @OISD;">
                                    <table class="detail-tbl">
                                        <tbody>
                                            <tr class="odd">
                                                <td class="detail-tbl-lbl tooltips" title="Min Volume (in KL) required as per PESO/OISD"><span class="">Min Statutory Vol.(KL)</span></td>
                                                <td class="detail-tbl-val" style="width: 100px;">
                                                    <input type="number" readonly class="editable-input MIN_WATER_VOL_SP" ondblclick="this.readOnly='';"
                                                           style="border: 0px;" value="23">
                                                    <span class="glyphicon glyphicon-upload" onclick="UpdateTankLvlSetPoints(this,'MIN_WATER_VOL_SP','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                                </td>
                                                <td class="detail-tbl-lbl tooltips" title="Current Volume of Water in KL."><span class="">Curr. Vol.(KL)</span></td>
                                                <td class="detail-tbl-val bold f-size-15" width="10%"><span class="CURR_TOT_WATER_VOL">33000</span></td>

                                            </tr>
                                            <tr class="even">
                                                <td class="detail-tbl-lbl tooltips" title="Gantry Operation even if min water volume (90% OISD Limit) is not met.">
                                                    <span class="">Gantry Operations</span>
                                                    <span class="supportive-txt">If Water Level < min requirement.</span>
                                                </td>
                                                <td class="detail-tbl-val text-center">
                                                    <div class="toggle-wrapper" onclick="ByPassGantryShutdown('@(tank.TankName)',this, 'GAN_SHUT_BYPASS','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]', event)">
                                                        <input id="toggle-gantry-operation" class="on-off-btn GAN_SHUT_BYPASS" data-on="Allowed" data-off="Denied" checked type="checkbox" data-width="80">
                                                    </div>

                                                </td>


                                                <td class="detail-tbl-lbl tooltips" title="Gantry Shutdown State"><span class="">Gantry Shutdown State</span></td>
                                                <td class="detail-tbl-val" width="10%">
                                                    <span class="GAN_SHUT_STATE tooltips" title="Gantry Shutdown State"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }

                        <div class="row " style="margin-top: 18px;display:@oil">
                            <div class="col-lg-12">
                                <span>
                                    <label for="ddlTankMode">Mode</label>
                                    <select disabled id="ddlTankMode" class="@(TkPrefix)_MODE_DDL"></select>
                                </span>
                                <span class="rel" style="top: -8px; left: 10px;">
                                    <a id="aChangeMode" href="javascript:void(0);" class="push-btn"
                                       onclick="ChangeTankMode(this,'@(tank.UniqueID)', '@(TkPrefix)_MODE_DDL','@(TkPrefix)_AUTOMAN','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')"
                                       data-opcvalue="">Change Mode</a>
                                </span>
                                <span class="rel">
                                    <a data-opcvalue="" onclick="SetProcessValue('Reset Tank Alarms', 'Reset Tank Alarms: @Model.TankName', this, '@(Model.TagPrefix+"_MODE_FAULT_RESET")','GENERIC', '@Session[clsConstants.UserID]' , '@Session[clsConstants.LoginID]' , '@Session[clsConstants.UserName]')" href="javascript:void(0);" class="push-btn-02 @(Model.TagPrefix+"_MODE_FAULT_RESET")" style="left: 125px; top: -6px;">Reset Fault</a>
                                </span>
                                <span class="rel">
                                    <a data-opcvalue="" onclick="SetProcessValue('Set Pri. Radar Maint. Mode', 'Set Pri. Radar Maint. Mode: @Model.TankName', this, '@(Model.TagPrefix+"_PRI_RDR_MAINT")','GENERIC', '@Session[clsConstants.UserID]' , '@Session[clsConstants.LoginID]' , '@Session[clsConstants.UserName]')" href="javascript:void(0);" class="push-btn-01 @(Model.TagPrefix+"_PRI_RDR_MAINT")" style="left: 235px; top: -6px;">Pri Rdr Maint</a>
                                </span>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 18px;">
                            <div class="col-lg-12">
                                <div class="tblTankModal_wrapper">
                                    <table class="table table-responsive table-striped" id="tblTankModal">
                                        <thead>
                                            <tr>
                                                @{
                                                    foreach (string line in tankMOVs.Where(x => x.tblMOVLine != null).Select(x => x.tblMOVLine.Line).Distinct())
                                                    {
                                                        <th colspan="@(tankMOVs.Where(x=>x.tblMOVLine!=null && x.tblMOVLine.Line==line).Count())">@line</th>
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                @{
                                                    foreach (string line in tankMOVs.Where(x => x.tblMOVLine != null).Select(x => x.tblMOVLine.Line).Distinct())
                                                    {
                                                        foreach (string type in tankMOVs.Select(x => x.tblMOVType.MOVLoc).Distinct())
                                                        {
                                                            List<tblMOVMaster> lstmov = tankMOVs.Where(x => x.tblMOVType != null && x.tblMOVLine != null).Where(y => y.tblMOVType.MOVLoc == type && y.tblMOVLine.Line == line).ToList();
                                                            foreach (tblMOVMaster mov in lstmov)
                                                            {
                                                                if (mov != null)
                                                                {
                                                                    string Mov_Name = "MOV_" + mov.UniqueID.ToString("0#");
                                                                    string mType = mov.tblMOVType.MOVType.ToLower();
                                                                    string MoVPrefix = (mov.TagPrefix + "_");
                                                                    string movpage = mov.PageName;
                                                                    <td class="mov-valve-tank-popup">
                                                                        <div class="mov-lbl"><span>@mov.tblMOVType.MOVLoc</span></div>
                                                                        @*<div class="mov-lbl mov-lbl-left"><span>@mov.tblMOVType.MOVLoc</span></div>*@
                                                                        <div class="@(mType)-valve-info-container" onclick="OpenMOVModal('@mov.UniqueID','@movpage')">
                                                                            <div class="@(mType)-valve">
                                                                                <span class="maintainence-mode-icon @(MoVPrefix+"_MAINT")"></span>
                                                                                <span class="mov-valve-fill">
                                                                                    <span class="fill-value percentage @(MoVPrefix+"_FILL")" data-id="@(MoVPrefix+"PER_OPN")"></span>
                                                                                </span>
                                                                                <span title="No Feedback" data-tooltip-attr="@(mType)*" class="tooltips @(mType)-valve @(MoVPrefix+"COMM_FAIL_IMG") @(MoVPrefix+"GEN_ALRM_IMG") @(MoVPrefix+"OPN_IMG") @(MoVPrefix+"CLS_IMG")"></span>
                                                                                <span class="percentage-fill-val hide"><span class="per_opn_mov @(MoVPrefix+"PER_OPN")"></span>%</span>
                                                                                <span title="" data-tooltip-attr="LOCREM*" class="tooltips control-icon @(MoVPrefix+"LOCREM") @(MoVPrefix+"REMOTE_SELECT") @(MoVPrefix+"STOP_SELECT")"></span>
                                                                                <span title="" data-tooltip-attr="AUTOMAN" class="tooltips control-icon @(MoVPrefix+"AUTOMAN")"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="mov-lbl"><span>@(mov == null ? "" : mov.MovName)</span></div>
                                                                    </td>
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    createTooltip();
</script>