@model TOAST.Data.Model.tblOPCDAMaster
<form id="frmOPC" role="form" class="form-fields">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="fields form-group">
                <label>OPC Tag Name</label>
                <input id="txtOPCTagName" name="OPCTagName" type="text" placeholder="OPC Tag Name" class="form-control" value="@Model.OPCTagName">
            </div>
        </div>
        @*<div class="col-lg-2 col-md-2 col-sm-2">
            <div class="fields form-group">
                <label>Primary Host Name</label>
                <input id="txtPrimaryHostName" name="PrimaryHostName" type="text" placeholder="Primary Host Name" class="form-control" value="@Model.PrimaryHostName">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="fields form-group">
                <label>Backup Host Name</label>
                <input id="txtBackupHostName" name="BackupHostName" type="text" placeholder="Backup Host Name" class="form-control" value="@Model.BackupHostName">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="fields form-group">
                <label>ProgId</label>
                <input id="txtProgId" name="ProgId" type="text" placeholder="Prog Id" class="form-control" value="@Model.ProgId">
            </div>
        </div>*@
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="fields form-group">
                <label>Tag Group</label>
                <input id="txtTagGroup" name="TagGroup" type="text" placeholder="Tag Group" class="form-control" value="@Model.TagGroup">
            </div>
        </div>
    </div>
</form>
