@using TOAST.Shared;
@using TOAST.Data.Model;
@model tblMOVMaster
@{
    ViewBag.Title = "Plant View - POV Details View";
    Layout = null;
}
<div class="modal-dialog modal-pvalve">
    <div class="modal-content" style='width:580px;'>
        <div class="modal-header mov-valve-popup-header" id="POVModalLabel">
            <div><h3 class='modal-title'>@Model.MovName</h3></div>
            <div style='border:0px;'><h3 class='modal-title'>@Model.MovDescription</h3></div>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        </div>
        <div class="modal-body clearfix">
            <div class="mov-valve-popup">
                <div class="feedback-row">
                    <a class="push-btn-02 open-mov-btn @(Model.TagPrefix+"_CLS_CMD")" style="padding: 7px 25px;" href="javascript:void(0);" onclick="ValidateOpenCloseValve(this,'@(Model.MovName)', '@(Model.TagPrefix+"_CLS_CMD")','POV','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" data-opcvalue=""> CLOSE </a>
                    <a class="push-btn-02 open-mov-btn @(Model.TagPrefix+"_OPN_CMD")" style="padding: 7px 25px;" href="javascript:void(0);" onclick="ValidateOpenCloseValve(this,'@(Model.MovName)', '@(Model.TagPrefix+"_OPN_CMD")','POV','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" data-opcvalue=""> OPEN </a>
                    @*<a class="push-btn-01 close-mov-btn @(Model.TagPrefix+"_CLS_CMD")" href="javascript:void(0);" onclick="ValidateOpenCloseValve(this,'@(Model.MovName)', '@(Model.TagPrefix+"_CLS_CMD")','POV','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" data-opcvalue="">CLOSE</a>*@
                </div>
                <div class="mov-valve-info-container">
                    <div class="col-lg-4 no-padd">
                        @{

                        }
                        <div class="pvalve-model-large @(Model.TagPrefix+"_OPN_IMG")  @(Model.TagPrefix+"_CLS_IMG")">
                        </div>
                        <span class="mov-valve-icons local-indicator LOCREM_MOV_08 locrem_mov_false"></span>
                        <span class="mov-valve-icons remote-indicator REMOTE_IMG_MOV_08 remote_img_mov_false"></span>
                        <span class="mov-valve-icons stop-indicator STOP_IMG_MOV_08 stop_img_mov_false"></span>
                        <span class="mov-valve-icons auto-indicator AUTOMAN_MOV_08 automan_mov_false" onclick="OpenAutoManModal(this, 'hdnTankAutoMan_202A', 'MOV_08', 'MOV_AUTOMAN', 'AUTOMAN_MOV_08','1', 'admin', 'Admin'); cancelBubble(event);"></span>
                        <span class="mov-valve-icons manual-indicator AUTOMAN_MOV_08 automan_mov_true" onclick="OpenAutoManModal(this, 'hdnTankAutoMan_202A','MOV_08', 'MOV_AUTOMAN', 'AUTOMAN_MOV_08','1', 'admin', 'Admin'); cancelBubble(event);"></span>

                    </div>

                    <div class="col-lg-8">
                        <table class="detail-tbl table-striped" style="position: relative; top: 20px;">
                            <tbody>
                                <tr>
                                    <td class="detail-tbl-lbl" >Open FB</td>
                                    <td class="detail-tbl-val">
                                        <span class="alert-cont-md">
                                            <span class="@(Model.TagPrefix+"_OPN_FB") "></span>
                                        </span>
                                    </td>
                                    <td class="detail-tbl-lbl" >Close FB</td>
                                    <td class="detail-tbl-val">
                                        <span class="alert-cont-md">
                                            <span class="@(Model.TagPrefix+"_CLS_FB") "></span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="detail-tbl-lbl" >LPBS Open</td>
                                    <td class="detail-tbl-val">
                                        <span class="alert-cont-md">
                                            <span class="@(Model.TagPrefix+"_LPBS_OPN") "></span>
                                        </span>
                                    </td>
                                    <td class="detail-tbl-lbl" >LPBS Close</td>
                                    <td class="detail-tbl-val">
                                        <span class="alert-cont-md">
                                            <span class="@(Model.TagPrefix+"_LPBS_CLS") "></span>
                                        </span>
                                    </td>
                                </tr>
                                <!--<tr>
                                <tr>
                                    <td class="detail-tbl-lbl" colspan="2"><span class="">Fail to Open</span></td>
                                    <td class="detail-tbl-val">
                                        <span class="alert-cont-md">
                                            <span class="pump-househeader-info-val @(Model.TagPrefix+"_F2OPN")"></span>
                                        </span>
                                    </td>
                                    <td class="rel" style="width: 30px;">
                                        <a href="javascript:void(0)" class="push-btn-01 @(Model.TagPrefix+"_RESET_F2OPN") tooltips" style="position: absolute;top: 0; bottom: 0; margin: auto; left: 7px; top:-3px; width: 25px; height: 25px;" title="Reset Fail to Start"
                                           onclick="SetProcessValue('Reset Pump Fail to Start', 'Reset Pump Fail to Start: @Model.MovName', this, '@(Model.TagPrefix+"_RESET_F2CLS")','GENERIC', '@Session[clsConstants.UserID]' , '@Session[clsConstants.LoginID]' , '@Session[clsConstants.UserName]' )">
                                            <i class="fa fas fa-retweet" style="vertical-align: text-top;" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="detail-tbl-lbl" colspan="2"><span class="">Fail to close</span></td>
                                    <td class="detail-tbl-val">
                                        <span class="alert-cont-md">
                                            <span class="pump-househeader-info-val @(Model.TagPrefix+"_F2CLS")"></span>
                                        </span>
                                    </td>
                                    <td class="rel" style="width: 30px;">
                                        <a href="javascript:void(0)" class="push-btn-01 @(Model.TagPrefix+"_RESET_F2CLS") tooltips" style="position: absolute;top: 0; bottom: 0; margin: auto; left: 7px; top:-3px; width: 25px; height: 25px;" title="Reset Fail to Stop"
                                           onclick="SetProcessValue('Reset Pump Fail to Stop', 'Reset Pump Fail to Stop: @Model.MovName', this, '@(Model.TagPrefix+"_RESET_F2CLS")','GENERIC', '@Session[clsConstants.UserID]' , '@Session[clsConstants.LoginID]' , '@Session[clsConstants.UserName]' )">
                                            <i class="fa fas fa-retweet" style="vertical-align: text-top;" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>-->
                                </tr>
                            </tbody>
                        </table>

                        <div class="mov-valve-info-wrapper valve-info-wrapper" style="display: none;">
                            <div class="mov-valve-info-row pvalve-value-info-wrapper">
                                <span class="mov-valve-info-lbl">Open Feedback</span>
                                <span class="circle-cont">
                                    <span class="@(Model.TagPrefix+"_OPN_FB") "></span>
                                </span>
                            </div>
                            <div class="mov-valve-info-row pvalve-value-info-wrapper">
                                <span class="mov-valve-info-lbl">Close Feedback</span>
                                <span class="circle-cont">
                                    <span class="@(Model.TagPrefix+"_CLS_FB") "></span>
                                </span>
                            </div>
                            <div class="mov-valve-info-row pvalve-value-info-wrapper">
                                <span class="mov-valve-info-lbl">Fail to Open</span>
                                <span class="circle-cont">
                                    <span class="@(Model.TagPrefix+"_FTO_FB") "></span>
                                </span>
                            </div>
                            <div class="mov-valve-info-row pvalve-value-info-wrapper">
                                <span class="mov-valve-info-lbl">Fail to Close</span>
                                <span class="circle-cont">
                                    <span class="@(Model.TagPrefix+"_FTC_FB") "></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>