@using TOAST.Shared;
@using TOAST.Data.Model;
@model tblMOVMaster
@{
    ViewBag.Title = "Plant View - MOV Details View";
    Layout = null;
    string BodyValveOpenOption = "";
    string ResetF2SOption = "";
    if ((Model.MOVType <= 1 && Model.TankID != null) || Model.TagPrefix.Contains("WDOFF") || Model.TagPrefix.Contains("DYKE_DRAIN")) { ResetF2SOption = "hide"; }
    bool ShowConn = ViewBag.ShowMOVConn;
    string MoVPrefix = (Model.TagPrefix + "_");
    string TkPrefix = (Model.tblTank == null ? "" : Model.tblTank.TagPrefix + "_");
    string tkname = (Model.tblTank == null ? (Model.Custom ?? Model.MovName) : Model.tblTank.TankName);
}
<div class="modal-dialog mov-modal" style="width: 480px;">
    <div class="modal-content">
        <div class="modal-header mov-valve-popup-header">
            <div class="mov-valve-popup-tank-name"><h3 class="modal-title" id="">@(Model.tblTank == null ? (Model.Custom??Model.MovName) : Model.tblTank.TankName)</h3></div>
            <div class="mov-valve-popup-receipt-name"><h3 class="modal-title" id="">@(Model.tblMOVLine == null ? Model.tblHeadersMaster.tblProduct.ProdNameShort : Model.tblMOVLine.Line)</h3></div>
            <div class="mov-valve-popup-title" style="border-right: 0;">
                <h3 class="modal-title" id="myMOVModalLabel">@(tkname==Model.MovName?"": Model.MovName)</h3>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        </div>
        <div class="modal-body" id="myMOVModalBody" style="padding: 5px;">
            <div class="mov-valve-popup">
                <div class="feedback-row">
                    @{
                        if ((Model.MOVType <= 1 && Model.TankID != null) || Model.MovName.ToUpper().Contains("DYKE")) { BodyValveOpenOption = "hide"; }
                        <a class="push-btn-02 @BodyValveOpenOption open-mov-btn @(MoVPrefix + "OPN_CMD")" href="javascript:void(0);" onclick="ValidateManualExecute('@(Model.TagPrefix)_AUTOMAN','Open/Close Command to MOV','Set Open Command to MOV: @(Model.MovName)',this, '@(Model.TagPrefix)_OPN_CMD', 'TOGGLE', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]')" data-opcvalue="">OPEN</a>
                        <a class="push-btn-02 close-mov-btn @(MoVPrefix + "CLS_CMD")" href="javascript:void(0);" onclick="ValidateManualExecute('@(Model.TagPrefix)_AUTOMAN','Open/Close Command to MOV','Set Close Command to MOV: @(Model.MovName)',this, '@(Model.TagPrefix)_CLS_CMD', 'TOGGLE', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]')" data-opcvalue="">CLOSE</a>
                    }

                </div>
                <div class="mov-valve-info-container">
                    <div class="col-lg-6">
                        <div title="No Feedback" data-tooltip-attr="MOV*" class="tooltips mov-valve @(MoVPrefix + "OPN_IMG") @(MoVPrefix + "CLS_IMG" ) @(MoVPrefix + "ALRM_IMG" )">
                            <span class="maintainence-mode-icon @(MoVPrefix + "MAINT_MODE")"></span>
                        </div>
                        <span title="" data-tooltip-attr="LOCREM*" class="tooltips control-icon @(MoVPrefix + "LOCREM") @(MoVPrefix + "REMOTE_SELECT" ) @(MoVPrefix + "STOP_SELECT" )"></span>
                        <span title="" data-tooltip-attr="AUTOMAN" class="tooltips control-icon @(MoVPrefix+"AUTOMAN")" onclick="OpenGenericAutoManModal('Change Auto/Manual Mode MOV', 'Device: @Model.MovName', '@(Model.TagPrefix + "_AUTOMAN")', '@(Model.TagPrefix + "_LOCREM")', 'TAG_AUTOMAN' , '@Model.PageName', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]'); cancelBubble(event);"></span>
                        <span class="percentage-open-lbl">Open: <span class="percentage-open-val"><span class="percentage-value per_opn_mov @(MoVPrefix + "PER_OPN")"></span>%&nbsp;</span></span>
                    </div>

                    <div class="col-lg-6 no-padd">
                        <div class="mov-valve-info-wrapper">

                            <table class="@(!ShowConn?"hide":"") detail-tbl">
                                <tbody>
                                    <tr>
                                        <td class="detail-tbl-lbl" style="width:65%"><span class="">Open Feedback</span></td>
                                        <td class="detail-tbl-val" colspan="2">
                                            <span class="circle-cont">
                                                <span class="@(MoVPrefix + "OPN_FB")"></span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="detail-tbl-lbl">
                                            <span class="v-align-sub">Close Feedback</span>
                                        </td>
                                        <td class="detail-tbl-val" colspan="2">
                                            <span class="circle-cont">
                                                <span class="@(MoVPrefix + "CLS_FB")"></span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="detail-tbl-lbl"><span class="">Fail to Open</span></td>
                                        <td class="detail-tbl-val">
                                            <span class="alert-cont-md">
                                                <span class="pump-househeader-info-val @(MoVPrefix + "F2OPN")"></span>
                                            </span>
                                        </td>
                                        <td class="rel" style="width: 35px;">
                                            <a href="javascript:void(0)" class="push-btn-01 @(MoVPrefix + "RESET_F2OPN") tooltips" style="position: absolute;top: 0; bottom: 0; margin: auto; top:-3px; width: 25px; height: 25px;" title="Reset Fail to Open"
                                               onclick="SetProcessValue('Reset MOV Fail to Open', 'Reset MOV Fail to Open: @Model.MovName', this, '@(MoVPrefix + "RESET_F2OPN")','GENERIC', '@Session[clsConstants.UserID]' , '@Session[clsConstants.LoginID]' , '@Session[clsConstants.UserName]' )">
                                                <i class="fa fas fa-retweet" style="vertical-align: text-top;" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="detail-tbl-lbl"><span class="">Fail to Close</span></td>
                                        <td class="detail-tbl-val">
                                            <span class="alert-cont-md">
                                                <span class="pump-househeader-info-val @(MoVPrefix + "F2CLS")"></span>
                                            </span>
                                        </td>
                                        <td class="rel @ResetF2SOption" style="width: 35px;">
                                            <a href="javascript:void(0)" class="push-btn-01 @(MoVPrefix + "RESET_F2CLS") tooltips" style="position: absolute;top: 0; bottom: 0; margin: auto; top:-3px; width: 25px; height: 25px;" title="Reset Fail to Close"
                                               onclick="SetProcessValue('Reset MOV Fail to Close', 'Reset MOV Fail to Close: @Model.MovName', this, '@(MoVPrefix + "RESET_F2CLS")','GENERIC', '@Session[clsConstants.UserID]' , '@Session[clsConstants.LoginID]' , '@Session[clsConstants.UserName]' )">
                                                <i class="fa fas fa-retweet" style="vertical-align: text-top;" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="mov-view-detail-container">
                    <table class="table-striped detail-tbl">
                        <tbody>
                            @{
                                if (MoVPrefix.Contains("WDOFF") || MoVPrefix.Contains("DYKE_DRAIN"))
                                {
                                    <tr>
                                        <td class="detail-tbl-lbl padd-l-15 tooltips" title="Beacon Cum Hooter Active Status in Field"><span>Beacon Hooter Status</span></td>
                                        <td class="detail-tbl-val">
                                            <span title="Green & Tick if Beacon Cum Hooter Active in Field" class="tooltips circle-cont-md"><span class="@(MoVPrefix+"HOOTER")"></span></span>
                                        </td>
                                        <td class="detail-tbl-lbl padd-l-15 tooltips" title="Ack/ Reset Beacon Hooter active in Field"><span>Reset Beacon Hooter</span></td>
                                        <td class="detail-tbl-val">
                                            <a href="javascript:void(0)" class="tooltips push-btn-01 @(MoVPrefix+"RESET_HOOTER")" style="position: absolute;top: 0; bottom: 0; margin: auto; left: 8px; width: 25px; height: 25px;" title="Ack/ Reset Beacon Hooter active in Field"
                                               onclick="SetProcessValue('Reset Dyke/ Water Drawoff Valve Beacon/Hooter', 'Reset Valve Beacon/Hooter @Model.MovName', this, '@(MoVPrefix+"RESET_HOOTER")','GENERIC', '@Session[clsConstants.UserID]' , '@Session[clsConstants.LoginID]' , '@Session[clsConstants.UserName]' )">
                                                <span style="position: relative;top: -3px;">Ack</span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                                if ((Model.TankID != null &&  Model.MOVType <= 1) || MoVPrefix.Contains("WDOFF"))
                                {
                                    <tr>
                                        <td class="detail-tbl-lbl padd-l-15 tooltips" title="Green & Tick if Open Command received from LPBS"><span>LPBS Open</span></td>
                                        <td class="detail-tbl-val">
                                            <span title="Green & Tick if Open Command received from LPBS" class="tooltips circle-cont-md"><span class="@(MoVPrefix+"LPBS_OPN")"></span></span>
                                        </td>
                                        <td class="detail-tbl-lbl padd-l-15 tooltips" title="Green & Tick if Close Command received from LPBS"><span>LPBS Close</span></td>
                                        <td class="detail-tbl-val">
                                            <span title="Green & Tick if Close Command received from LPBS" class="tooltips circle-cont-md"><span class="@(MoVPrefix+"LPBS_CLS")"></span></span>
                                        </td>
                                    </tr>
                                }
                            }
                            <tr>
                                <td class="detail-tbl-lbl padd-l-15 tooltips" title="Green if battery low/flat, valve / actuator / control alarm, valve jammed/obstructed, or monitor relay"><span>General Alarm</span></td>
                                <td class="detail-tbl-val">
                                    <span title="Green if battery low/flat, valve / actuator / control alarm, valve jammed/obstructed, or monitor relay" class="tooltips alert-cont-md"><span class="@(MoVPrefix+"GEN_ALRM")"></span></span>
                                </td>
                                <td class="detail-tbl-lbl padd-l-15 tooltips" title="Red when actuator remote control is not available. Monitor Relay status is a composite signal for several alarms, Local/ Local Stop selection">Monitor Relay</td>
                                <td class="detail-tbl-val">
                                    <span class="tooltips alert-cont-md" title="Green when actuator remote control is not available. Monitor Relay status is a composite signal for several alarms, Local/ Local Stop selection"><span class="@(MoVPrefix+"MONITOR_RELAY")"></span></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="detail-tbl-lbl padd-l-15"><span></span></td>
                                <td class="detail-tbl-val">
                                    <span class="alert-cont-md"><span class=""></span></span>
                                </td>
                                <td class="detail-tbl-lbl padd-l-15 tooltips" title="ESD Command Status on Actuator">ESD Command to MOV</td>
                                <td class="detail-tbl-val">
                                    <span class="tooltips alert-cont-md" title="ESD Command Status on Actuator"><span class="@(MoVPrefix+"ESD_CMD")"></span></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    createTooltip();
</script>