@using TOAST.Data.Model;
@using TOAST.Business;
@using TOAST.Shared;
@model List<tblDeviceMaster>
@{
    ViewBag.Title = "Plant View - Fire Alarm System View";
    List<tblPump> Pumps = ViewBag.Pumps;
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="grid-headerplant" style="color:black">VFD View</h3>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 m-t-40 vfd-wrapper">
        <div class="tab-wrapper w-100">
            <div class="panel with-nav-tabs panel-default pump-view-tab-container">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        @foreach (tblDeviceMaster Device in Model)
                        {
                            string DevName = Device.TagPrefix;
                            <li><a href="#@DevName" data-toggle="tab">@Device.DeviceName</a></li>
                        }
                    </ul>
                </div>
                <div class="panel-body" style="padding-bottom:5px">
                    <div class="tab-content">
                        @foreach (tblDeviceMaster Device in Model)
                        {
                            string DevName = Device.TagPrefix;
                            string DeviceDetail = DevName + "; Product: " + Device.tblHeadersMaster.tblProduct.ProdNameShort;
                            int HeaderNo = (Device.HeaderID == null ? 0 : (Device.tblHeadersMaster.tblProduct.HeaderNo ?? 0));
                            string HdrSuffix = "HDR" + string.Format("{0:00}", HeaderNo);

                            <div class="tab-pane fade" id="@DevName">
                                <div class="col-lg-8">
                                    <div class="content-box">
                                        <h3 style="font-size: 25px;font-weight: bold;">@Device.DeviceName</h3>
                                        @foreach (tblPump pump in Pumps.Where(x => x.ProductID == Device.tblHeadersMaster.ProductID).OrderBy(x=>x.TypeSeqNo))
                                        {
                                            string pumpName = pump.TagPrefix;
                                            string PumpPrd = pump.tblProduct.ProdNameShort;
                                            if (clsConfig.ProjPath.Contains("394") || clsConfig.ProjPath == "") { PumpPrd = "VFD-PMP-"+String.Format("{0:00}", pump.TypeSeqNo); }
                                                <div class="device-box pumps pump-view-wrapper pump-view-lg">
                                                    <div class="pump-view-header">
                                                        <span class="h-col h-left" style="background-color:@pump.tblProduct.ProductColor; text-shadow: 0px 1px 1px #000;">@pump.EquipmentName</span>
                                                        <span class="h-col h-right" style="background-color:@pump.tblProduct.ProductColor; text-shadow: 0px 1px 1px #000;">@PumpPrd</span>
                                                    </div>
                                                    <div class="device-block" style="padding: 0px 0;">
                                                        <div class="pump-view-pump" style="padding: 0px 0;">
                                                            <span title="" data-tooltip-attr="LOCREM" class="tooltips control-icon @(pumpName+"_LOCREM")" onclick="OpenLocRemModal('@pump.EquipmentName', 'PUMP_LOCREM', '@(pumpName+"_LOCREM")','@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]'); cancelBubble(event);"></span>
                                                            <div title="Pump Off" data-tooltip-attr="PMP*" onclick="OpenPumpModal(@pump.UniqueID,'@("PumpsView"+pump.UniqueID.ToString("0#"))')" class="tooltips pump-header @(pumpName+"_RUN_IMG") @(pumpName+"_TRIP_IMG") @(pumpName+"_FAIL_IMG") ">
                                                                <span class="maintainence-mode-icon @(pumpName+"_MAINT")"></span>
                                                            </div>
                                                            <span title="" data-tooltip-attr="AUTOMAN" class="tooltips control-icon @(pumpName+"_AUTOMAN")" onclick="OpenGenericAutoManModal('Change Auto/Manual Mode Pump','Pump: @pump.EquipmentName', '@(pumpName+"_AUTOMAN")', '@(pumpName+"_LOCREM")', 'TAG_AUTOMAN','@pump.PageName','@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]'); cancelBubble(event);"></span>
                                                            @if (pump.PTAvailable)
                                                            {
                                                                <span class="percentage-fill-val get-hover" title="Please click to view trend" onclick="OpenChartModal('@(pumpName + "_PT")', 'PumpsOverview'); cancelBubble(event);">
                                                                    <span class="pt-pump-val @(pumpName + "_PT")"></span><br />Kg/cm²
                                                                </span>
                                                            }
                                                            <span class="sine-wave tooltips @(pumpName+"_ON_VFD")" title="Pump on VFD"></span>
                                                        </div>
                                                    </div>
                                                    <div class="device-detail">
                                                        <table class="table-striped pump-view-detail-tbl w-100">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="tbl-lbl w-60">Priority</td>
                                                                    <td class="tbl-val w-40 @(pumpName+"_PRIORITY_DDL")">
                                                                        <span class="tank_mode_lbl"></span>
                                                                        @*<input type="number" min=1 readonly class="editable-input @(pumpName+"_PRIORITY_DDL")" ondblclick="this.readOnly='';"
                                                                                   style="border: 0px; width: 65%;">
                                                                            <span class="glyphicon glyphicon-upload" onclick="UpdatePumpPriority('@(pumpName+"_PRIORITY")','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>*@
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="tbl-lbl">Pump On VFD</td>
                                                                    <td class="tbl-val">
                                                                        <span class="circle-cont-sm">
                                                                            <span class="@(pumpName+"_ON_VFD")"></span>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                        }
                                        <table class="table-striped value-tbl status-tbl w-100">
                                            <thead>
                                                <tr>
                                                    <th class="text-center bg-color" colspan="2">VFD Status</th>
                                                    <th class="text-center bg-color" colspan="4">VFD Data</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td class="tbl-lbl head w-20 ">VFD Healthy Status</td>
                                                <td class="tbl-val w-20">
                                                    <span class="circle-cont-sm">
                                                        <span class="@(DevName+"_HLTY_STS")"></span>
                                                    </span>
                                                </td>
                                                <td class="tbl-lbl w-15 head">Drive On / Off</td>
                                                <td class="tbl-val w-15 normal ">
                                                    <span class="circle-cont-sm">
                                                        <span class="@(DevName+"_ONOFF")"></span>
                                                    </span>
                                                </td>
                                                <td class="tbl-lbl w-15 head">Speed Reference</td>
                                                <td class="tbl-val w-15 normal @(DevName+"_SPEED_REF")"></td>
                                            </tr>
                                            <tr>
                                                <td class="tbl-lbl head tooltip-custom" title="<div>VFD+Auto &nbsp;&nbsp;&nbsp;&nbsp;: VFD Controlled by PT<br>VFD+Manual: VFD with Manual Start Stop<br>TAS+Auto&nbsp;&nbsp;&nbsp;&nbsp;: Pump Demand<br>TAS+Manual: Each Pump Manual Start Stop&#013</div>">VFD /TAS Mode</td>
                                                <td class="tbl-val ">
                                                    <div class="toggle-wrapper" onclick="SetToggleTAS_DOL('@DeviceDetail',this, '@(DevName+"_VFD_TAS_MODE")','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]', event)">
                                                        <input id="toggle-tasdol-mode" class="on-off-btn @(DevName+"_VFD_TAS_MODE") " data-on="VFD" data-off="TAS" checked type="checkbox" data-width="80">
                                                    </div>
                                                </td>
                                                <td class="tbl-lbl head">Pressure (kg/cm²)</td>
                                                <td class="tbl-val normal get-hover @(DevName+"_PRESS")" onclick="OpenChartModal('PT_@HdrSuffix','')" title="Header Pressure"></td>
                                                <td class="tbl-lbl head">VFD RPM</td>
                                                <td class="tbl-val normal @(DevName+"_RPM")"></td>
                                            </tr>
                                            <tr>
                                                <td class="tbl-lbl head">Bypass Status</td>
                                                <td class="tbl-val">
                                                    <span class="circle-cont-sm">
                                                        <span class="@(DevName+"_BYPASS")"></span>
                                                    </span>
                                                </td>
                                                <td class="tbl-lbl head">Current (Amp)</td>
                                                <td class="tbl-val normal @(DevName+"_CRNT")"></td>
                                                <td class="tbl-lbl head">Torque (Nm)</td>
                                                <td class="tbl-val normal @(DevName+"_TORQ")"></td>
                                            </tr>
                                            <tr>
                                                <td class="tbl-lbl head">VFD Set Point (kg/cm²)</td>
                                                <td class="tbl-val">
                                                    <input type="number" min=1 readonly class="editable-input @(DevName+"_PT_SP")" ondblclick="this.readOnly='';"
                                                           style="border: 0px; width: 65%;">
                                                    <span class="glyphicon glyphicon-upload" onclick="UpdateVFDSetPoint('@(DevName+"_PT_SP")','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                                </td>
                                                <td class="tbl-lbl head">Runtime (min)</td>
                                                <td class="tbl-val normal @(DevName+"_RUNTIM")"></td>
                                                <td class="tbl-lbl head">KWH Counter (KwH)</td>
                                                <td class="tbl-val norma @(DevName+"_KWH_CNTR")"></td>
                                            </tr>
                                            <tr>
                                                <td class="tbl-lbl head">Pump Demand</td>
                                                <td class="tbl-val normal @(Device.tblHeadersMaster.tblProduct.ProdNameShort+"_TTL_PMP_DMD")"></td>
                                                <td class="tbl-lbl head">Frequency (Hz)</td>
                                                <td class="tbl-val normal @(DevName+"_FREQ")"></td>
                                                <td class="tbl-lbl"></td>
                                                <td class="tbl-val"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    opcPageName = "VFDView,PumpsView.*,HeaderView.*";
</script>
<script src="~/Scripts/PageJS/PlantView/VFDView/Index.js"></script>