@using TOAST.Data.ViewModels;
@using System.Linq;
@using TOAST.Shared;
@model BQDTv_VM
@{
    Layout = null;
    int iCnt = 1;

    List<TTQueueViewModel> lstMain = Model.lstTTQueue;
    VDUParamsModel VDUParams = Model.objVDUParams;

    List<TTQueueViewModel> lst1 = new List<TTQueueViewModel>();
    List<TTQueueViewModel> lst2 = new List<TTQueueViewModel>();

    if (VDUParams.BQDisplayMode == 1)
    {
        iCnt = 0;
        int rem = lstMain.Count() % 20;
        for (int i = 0; i < lstMain.Count(); i++)
        {
            lst1 = lst1.Concat(lstMain.Skip(i).Take(10).ToList()).ToList();
            lst2 = lst2.Concat(lstMain.Skip(i + 10).Take(10).ToList()).ToList();
            i = i + 19;
        }
        if (rem <= 10)
        {
            TTQueueViewModel obj = new TTQueueViewModel();
            obj.BayID = 0;
            obj.TruckNo = "";
            obj.TruckStatusShort = "";
            lst2.Add(obj);
        } 
    }
}

@{
    if (VDUParams.BQDisplayMode == 1)
    {
        if (lstMain.Count > 0)
        {
            <div class="row">
                <div class="col-lg-6">
                    <table id="tblBQD1" class="table">
                        <thead>
                            <tr>
                                <th>Bay No</th>
                                <th>Truck Number</th>
                                <th>Truck Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TTQueueViewModel itm in lst1)
                            {
                                <tr class="clickable bqd-row">
                                    <td>@(itm.BayID.ToString("0#").Replace("00", "  "))</td>
                                    <td>@( itm.TruckNo.ToUpper() + string.Join("", Enumerable.Repeat(" ", 10 - itm.TruckNo.Length)))</td>
                                    <td>@(itm.TruckStatusShort.ToUpper())</td>
                                </tr>
                                iCnt = iCnt + 1;
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-6">
                    <table id="tblBQD2" class="table">
                        <thead>
                            <tr>
                                <th>Bay No</th>
                                <th>Truck Number</th>
                                <th>Truck Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TTQueueViewModel itm in lst2)
                            {
                                <tr class="clickable bqd-row">
                                    <td>@(itm.BayID.ToString("0#").Replace("00", "  "))</td>
                                    <td>@( itm.TruckNo.ToUpper() + string.Join("", Enumerable.Repeat(" ", 10 - itm.TruckNo.Length)))</td>
                                    <td>@(itm.TruckStatusShort.ToUpper())</td>
                                </tr>
                                iCnt = iCnt + 1;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <script>
                $(document).ready(function () {

                    var tbl1 = $('#tblBQD1').dataTable({
                        "iDisplayLength": 10,
                        "bLengthChange": false,
                        "bFilter": false,
                        "bPaginate": true,
                        "bInfo": false,
                        "bSort": false,
                        "aoColumns":
                            [
                                { sWidth: "15%", 'sClass': 'text-center' },
                                { sWidth: "50%", 'sClass': 'text-center' },
                                { sWidth: "35%", 'sClass': 'text-center' },
                            ],
                        "bAutoWidth": false,
                    });

                    var tbl2 = $('#tblBQD2').dataTable({
                        "iDisplayLength": 10,
                        "bLengthChange": false,
                        "bFilter": false,
                        "bPaginate": true,
                        "bInfo": false,
                        "bSort": false,
                        "aoColumns":
                            [
                                { sWidth: "15%", 'sClass': 'text-center' },
                                { sWidth: "50%", 'sClass': 'text-center' },
                                { sWidth: "35%", 'sClass': 'text-center' },
                            ],
                        "bAutoWidth": false,
                    });

                    var interval = setInterval(function () {
                        pageChange();
                    }, '@(VDUParams.BQDRefreshTimeInSecs*1000)');

                    function pageChange() {
                        if ($('#tblBQD1_next').hasClass('disabled')) {
                            clearInterval(interval);
                            OpenBQDMenu();
                        }
                        else {
                            tbl1.fnPageChange('next');
                            tbl2.fnPageChange('next');
                        }
                    }
                });
            </script>
        }
        else
        {
            <div id="empty-msg" class="empty-msg">@VDUParams.EmptyTTQueueMessage</div>
            <script>
                $(document).ready(function () {
                    var centerElement = {
                        init: function () {
                            parentThis = this;
                            parentThis.centerAlignDiv('empty-msg');
                            window.onresize = function () {
                                parentThis.centerAlignDiv('empty-msg');
                            }
                            window.onload = function () {
                                parentThis.centerAlignDiv('empty-msg');
                            }
                        },

                        centerAlignDiv: function (ele) {
                            var contEle = parentThis.getElement(ele);
                            contEle.style.width = window.innerWidth * .75 + "px";
                            contEle.style.fontSize = (window.innerHeight * .008) + "em";

                            var eleHalfW = contEle.offsetWidth / 2;
                            var eleHalfH = contEle.offsetHeight / 2;
                            var clientW = window.innerWidth / 2 - eleHalfW;
                            var clientH = window.innerHeight / 2 - eleHalfH;
                            contEle.style.left = clientW + "px";
                            contEle.style.top = clientH + "px";
                        },
                        getElement: function (ids) {
                            return (document.getElementById(ids));
                        }

                    }
                    centerElement.init();

                    var interval = setInterval(function () {
                        OpenBQDMenu();
                    }, '@(VDUParams.BQDRefreshTimeInSecs*1000)');
                });
            </script>
        }
    }
    else if (VDUParams.BQDisplayMode == 0)
    {
        <div id="empty-msg" class="empty-msg">
            @VDUParams.BQDOffMessage
        </div>
        <script>
            $(document).ready(function () {
                var centerElement = {
                    init: function () {
                        parentThis = this;
                        parentThis.centerAlignDiv('empty-msg');
                        window.onresize = function () {
                            parentThis.centerAlignDiv('empty-msg');
                        }
                        window.onload = function () {
                            parentThis.centerAlignDiv('empty-msg');
                        }
                    },

                    centerAlignDiv: function (ele) {
                        var contEle = parentThis.getElement(ele);
                        contEle.style.width = window.innerWidth * .75 + "px";
                        contEle.style.fontSize = (window.innerHeight * .008) + "em";

                        var eleHalfW = contEle.offsetWidth / 2;
                        var eleHalfH = contEle.offsetHeight / 2;
                        var clientW = window.innerWidth / 2 - eleHalfW;
                        var clientH = window.innerHeight / 2 - eleHalfH;
                        contEle.style.left = clientW + "px";
                        contEle.style.top = clientH + "px";
                    },
                    getElement: function (ids) {
                        return (document.getElementById(ids));
                    }
                }
                centerElement.init();

                var interval = setInterval(function () {
                    OpenBQDMenu();
                }, '@(VDUParams.BQDRefreshTimeInSecs*1000)');
            });
        </script>
    }
}

<style>
    .dataTables_paginate { display: none; }
</style>