@using TOAST.Shared;
@using TOAST.Data.Model;
@model List<TOAST.Data.Model.tblDeviceMaster>
@{
    ViewBag.Title = "Plant View - AOP View";
    Layout = null;
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="grid-headerplant" style="color:black">VFT View</h3>
    </div>
</div>


<div class="row">
    <div class="aop-view-container col-lg-12 m-t-10">
    @{
        foreach (tblDeviceMaster Device in Model.Where(x=>x.TankID!=null))
        {
            //string AOPName = Device.tblDeviceType.DevicePrefix + string.Format("{0:00}", Device.TypeSeqNo);
            string AOPName = Device.TagPrefix;
        <div class="device-box aop-wrapper">
            <div class="device-header">
                <span class="h-col h-left" style="background-color:#ff8000; text-shadow: 0px 1px 1px #000;">@Device.DeviceName</span>
                <span class="h-col h-right" style="background-color:#ff8000; text-shadow: 0px 1px 1px #000;">@Device.tblTank.tblProduct.ProdNameShort</span>
            </div>
            <div class="device-block">
                <div class="device aop-meter @(AOPName+"_STATUS")">
                    <span class="maintainence-mode-icon @(AOPName+"_MAINT")"></span>
                    <span class="action-icon remote-icon"></span>
                    <span class="action-icon local-icon"></span>
                    <span class="action-icon auto-icon"></span>
                    <span class="action-icon manual-icon"></span>
                </div>
            </div>

            <div class="device-detail">
                <table class="table-striped value-tbl col-right-no-b w-100">
                    <tbody>
                        <tr>
                            <td class="tbl-lbl">Status</td>
                            <td class="tbl-val">
                                <span class="alert-cont-md">
                                    <span class="@(AOPName+"_STATUS")"></span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        }
    }


    </div>
</div>


<script src="~/Scripts/PageJS/PlantView/DeviceView/AOPView/Index.js"></script>
