@using TOAST.Data.Model;
@using TOAST.Shared;
@using TOAST.Business;
@model TOAST.Data.Model.tblWLoadRakeDetail
@{
    Layout = null;
    tblWagonMaster mRake = Model.tblWagonMaster;
    tblWagonBCUMaster mBCU = Model.tblLoadSpotMaster.tblWagonBCUArmBatch.tblWagonBCUMaster;
    tblClusterMaster mClus = mBCU.tblClusterMaster;
    double DeliveredQty = (Model.tblWLoadRakeComponents.Select(x => (x.DeliveredQtyGrs ?? 0) + (x.PrevQtyGrs ?? 0) + (x.TopUpQty ?? 0) - (x.DecantedQty ?? 0)).DefaultIfEmpty(0).Sum());
    string sLoadSpotNo = ""; string sClusterNo = ""; string sSpurNo = ""; string sTankNo = "";
    if (Model.LoadSpotID != null && Model.tblLoadSpotMaster != null)
    {
        sSpurNo = String.Format("{0:00}", mClus.tblSpurMaster.SpurNo);
        sClusterNo = String.Format("{0:00}", mClus.ClusterNo);
        sLoadSpotNo = String.Format("{0:00}", Model.tblLoadSpotMaster.LoadSpotNo);
    }
    if (Model.TankID != null)
    {
        sTankNo = (Model.tblTank.TankName);
    }
}

@if (Model != null)
{
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Wagon Load TopUp</h3>
            </div>
            <div class="modal-body" id="myModalBody">
                <div class="row m-t-10">
                    <div class="col-lg-6" style="padding: 0px 5px 0px 15px;">
                        <table class="table-striped app-tbl">
                            <tbody>
                                <tr>
                                    <td class="truck-detail-info-head bold">Rake No</td>
                                    <td>@mRake.WagonNo</td>
                                </tr>
                                <tr>
                                    <td class="truck-detail-info-head bold">Rake Status</td>
                                    <td>@Model.tblTruckStatu.TruckStatusDesc</td>
                                </tr>
                                <tr>
                                    <td class="truck-detail-info-head bold">Load Status</td>
                                    <td>@Model.tblLoadStatu.LoadStatusDesc</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-6" style="padding: 0px 15px 0px 5px;">
                        <table class="table-striped app-tbl">
                            <tbody>
                                <tr>
                                    <td class="truck-detail-info-head bold">Load No</td>
                                    <td>@Model.WLoadID</td>
                                    <td class="truck-detail-info-head bold">Seq No</td>
                                    <td>@Model.WagonSeqNo</td>
                                </tr>
                                <tr>
                                    <td class="truck-detail-info-head bold">Product</td>
                                    <td>@Model.tblProduct.ProdNameShort</td>
                                    <td class="truck-detail-info-head bold">Preset</td>
                                    <td>@Model.PresetQty</td>
                                </tr>
                                <tr>
                                    <td class="truck-detail-info-head bold">Tank</td>
                                    <td>@sTankNo</td>
                                    <td class="truck-detail-info-head bold">Filled</td>
                                    <td>@DeliveredQty</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-lg-12">
                        <table id="tblTopUpQty" class="table-striped app-tbl">
                            <thead>
                                <tr>
                                    <th class="text-center bg-color">SeqNo</th>
                                    <th class="text-center bg-color">Spur</th>
                                    <th class="text-center bg-color">Cluster</th>
                                    <th class="text-center bg-color">LoadSpot</th>
                                    <th class="text-center bg-color">Product</th>
                                    <th class="text-center bg-color">Preset</th>
                                    <th class="text-center bg-color">Delivered</th>
                                    <th class="text-center bg-color">TopUp Qty</th>
                                    <th class="text-center bg-color">Totz</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="WagonTopUp">
                                    <td class="text-center">@String.Format("{0:00}", Model.WagonSeqNo)</td>
                                    <td class="text-center">@sSpurNo</td>
                                    <td class="text-center">@sClusterNo</td>
                                    <td class="text-center">@sLoadSpotNo</td>
                                    <td class="text-center">@Model.tblProduct.ProdNameShort</td>
                                    <td class="text-center" id="txtPreset">@Model.PresetQty</td>
                                    <td class="text-center" id="txtDelivered">@DeliveredQty</td>
                                    <td><input type="number" name="TopUpQty" value="0" placeholder="Qty (Ltrs)" id="txtTopUpQty" pattern="^[+-]? \d+(,\d{2})?" autocomplete="off" onkeypress="return isNumber(event)" style="width:85px;margin-right:-10px" /></td>
                                    <td class="text-center" id="txtTotz">@((Model.BatchTotzEnd??0)>0?((Model.BatchTotzEnd ?? 0)- (Model.BatchTotzStart ?? 0)).ToString() :String.Empty)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top:0px">
                <button type="button" class="btn btn-primary" id="btnGenerateTopUp" onclick="SaveTopUpQtyDo('@Model.WLoadID','@Model.WagonSeqNo')"><span class="glyphicon glyphicon-ok-sign"></span>Generate TopUp</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
            </div>
        </div>
    </div>
}
<script>
    $('#btnEmptyCancel').bind('click', function () {
        $(".modal-backdrop").slideUp('slow');
        $('#EmptyModal').modal('hide');
    });
</script>
<script src="~/Scripts/PageJS/Wagon/Summary/WagonTopUp.js"></script>