@using TOAST.Data.Model;
@using TOAST.Business;
@model TOAST.Data.Model.tblMFMBatch
@{
    ViewBag.Title = "Add MFM Batch";
    //List<tblProduct> ddlProds = ViewBag.AllowedProds;
    List<tblDropdownValue> ddlist = ViewBag.DropDownValues;
    tblDropdownValue IssueReceipt = ddlist.Where(x => x.ddlType.ToUpper() == "IssueReceipt".ToUpper() && Convert.ToChar(x.ddlID).ToString() == Model.ReceiptIssue).FirstOrDefault();
    tblDropdownValue SalePucTrfr = ddlist.Where(x => x.ddlType.ToUpper() == "SalePurTrfr".ToUpper() && Convert.ToChar(x.ddlID).ToString() == Model.StkTrOMC).FirstOrDefault();
    bool AllowEdit = (ViewBag.AllowEdits == "Y");
    Layout = null;
}

<h2 class="headingPage">
    @(AllowEdit ? "Edit" : "View") MFM Batch
</h2>
<div class="row">
    <div class="col-lg-12 col-md-12 form-container">
        <form id="FormBU" role="form" class="form-fields">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="fields form-group">
                    <label>Batch No.</label>
                    <input class="form-control" id="txtBatchID" name="BatchID" disabled value="@Model.BatchID">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                <div class="fields form-group">
                    <label>Receipt / Issue</label>
                    <input type="text" class="form-control" placeholder="Receipt / Issue" id="txtReceiptIssue" name="ReceiptIssue" autocomplete="off" value="@IssueReceipt.ddlValues" disabled />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                <div class="fields form-group">
                    <label>@(Model.ReceiptIssue == "R" ? "Issuing" : "Receiving") Plant Code</label>
                    <input type="text" class="form-control" placeholder="@(Model.ReceiptIssue == "R" ? "Issuing" : "Receiving") Plant Code" id="txtIssuingPlantCode" name="IssuingPlantCode" autocomplete="off" value="@Model.IssuingPlantCode" @(AllowEdit ? "" : "disabled") />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                <div class="fields form-group">
                    <label>@(Model.ReceiptIssue == "R" ? "Receiving" : "Issuing") Plant Code</label>
                    <input type="text" class="form-control" placeholder="@(Model.ReceiptIssue == "R" ? "Receiving" : "Issuing") Plant Code" id="txtReceivingPlantCode" name="ReceivingPlantCode" autocomplete="off" value="@Model.ReceivingPlantCode" disabled />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                <div class="fields form-group">
                    <label>@(Model.ReceiptIssue == "R" ? "Issuing" : "Receiving") Storage Tank</label>
                    <input type="text" class="form-control" placeholder="@(Model.ReceiptIssue == "R" ? "Issuing" : "Receiving") Storage Tank" id="txtIssuingStorageTank" name="IssuingStorageTank" autocomplete="off" value="@Model.IssuingStorageTank" @(AllowEdit ? "" : "disabled") />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                <div class="fields form-group">
                    <label>@(Model.ReceiptIssue == "R" ? "Receiving" : "Issuing") Storage Tank</label>
                    <input type="text" class="form-control" placeholder="Receiving Storage Tank" id="txtReceivingStorageTank" name="ReceivingStorageTank" autocomplete="off" value="@Model.tblTank.TankName (@Model.tblProduct.ProdNameShort)" disabled />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                <div class="fields form-group">
                    <label>MFM No</label>
                    <input type="text" class="form-control" placeholder="MFM Device" id="txtMFMDevice" name="MFMDevice" autocomplete="off" value="@Model.tblDeviceMaster.DeviceName (@Model.tblDeviceMaster.DeviceDesc)" disabled />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                <div class="fields form-group">
                    <label>Stock Transfer / OMC Sale Purchase</label>
                    <input type="text" class="form-control" placeholder="Stock Transfer / OMC Sale Purchase" id="txtStkTrOMC" name="StkTrOMC" autocomplete="off" value="@SalePucTrfr.ddlValues" disabled />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                <div class="fields form-group">
                    <label>Batch Start DateTime</label>
                    <input type="text" class="form-control" placeholder="Batch Start DateTime" id="txtStartDateTime" name="StartDateTime" autocomplete="off" value="@((Model.StartDateTime??System.DateTime.Now).ToString("dd-MMM-yyyy HH:mm:ss"))" disabled />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                <div class="fields form-group">
                    <label>Batch End DateTime</label>
                    <input type="text" class="form-control" placeholder="Batch End DateTime" id="txtStartEndTime" name="StartEndTime" autocomplete="off" value="@((Model.EndDateTime??System.DateTime.Now).ToString("dd-MMM-yyyy HH:mm:ss"))"  disabled />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                <div class="fields form-group">
                    <label>Remarks</label>
                    <input type="text" class="form-control" placeholder="Remarks" id="txtRemarks" name="Remarks" autocomplete="off" value="@Model.Remarks" @(AllowEdit ? "" : "disabled") />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                <div class="fields form-group">
                    <label>SAP Response code</label>
                    <input type="text" class="form-control" placeholder="SAP Response Code" id="txtResponseCode" name="ResponseCode" autocomplete="off" value="@Model.ResponseCode" disabled />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <div class="fields form-group">
                    <label>SAP Response Description</label>
                    <input type="text" class="form-control" placeholder="SAP Response Desc" id="txtResponseDesc" name="ResponseDesc" autocomplete="off" value="@Model.ResponseDesc" disabled />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 form-container">
        <table class="table-striped app-tbl">
            <thead>
                <tr><th class="text-center bg-color" colspan="4">MFM Data</th></tr>
                <tr>
                    <th class="text-center" style="width: 40%">Parameter</th>
                    <th class="text-center tooltips" style="width: 22%">Start</th>
                    <th class="text-center tooltips" style="width: 22%">End</th>
                    <th class="text-center tooltips" style="width: 16%">Diff.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>MFM Amb. Vol Totz (KL)</td>
                    <td><span>@Model.MFMTotzAmbVolStart</span></td>
                    <td><span>@Model.MFMTotzAmbVolEnd</span></td>
                    <td><span id="txtVolumeObs">@(Math.Round((Model.MFMTotzAmbVolEnd??0) - (Model.MFMTotzAmbVolStart ?? 0),3))</span></td>
                </tr>
                <tr>
                    <td>MFM 15°C Vol Totz (KL)</td>
                    <td><span>@Model.MFMTotz15VolStart</span></td>
                    <td><span>@Model.MFMTotz15VolEnd</span></td>
                    <td><span id="txtVolumeStd15">@(Math.Round((Model.MFMTotz15VolEnd ?? 0) - (Model.MFMTotz15VolStart ?? 0), 3))</span></td>
                </tr>
                <tr>
                    <td>MFM 29.5°C Vol Totz (KL)</td>
                    <td><span>@Model.MFMTotz295VolStart</span></td>
                    <td><span>@Model.MFMTotz295VolEnd</span></td>
                    <td><span id="txtVolumeStd295">@(Math.Round((Model.MFMTotz295VolEnd ?? 0) - (Model.MFMTotz295VolStart ?? 0), 3))</span></td>
                </tr>
                <tr>
                    <td>MFM Mass Totz (Ton)</td>
                    <td><span>@Model.MFMTotzMassStart</span></td>
                    <td><span>@Model.MFMTotzMassEnd</span></td>
                    <td><span id="txtMass">@(Math.Round((Model.MFMTotzMassEnd ?? 0) - (Model.MFMTotzMassStart ?? 0), 3))</span></td>
                </tr>
                <tr>
                    <td>Tank Level (@clsConfig.TFMSLevelUnit)</td>
                    <td><span>@Model.TankLevelStart</span></td>
                    <td><span>@Model.TankLevelEnd</span></td>
                    <td><span>@(Math.Round((Model.TankLevelEnd ?? 0) - (Model.TankLevelStart ?? 0), 3))</span></td>
                </tr>
                <tr>
                    <td>Avg Temp °C</td>
                    <td colspan="3" style="text-align: center;"><span>@Model.AvgTemp</span></td>
                </tr>
                <tr>
                    <td>Avg Obs. Density (Kg/m³)</td>
                    <td colspan="3" style="text-align: center;"><span>@Model.AvgDensObs</span></td>
                </tr>
                <tr>
                    <td>Avg Density 15°C (Kg/m³)</td>
                    <td colspan="3" style="text-align: center;"><span>@Model.AvgDens15</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    @if (Model.EndDateTime != null && (String.IsNullOrWhiteSpace(Model.ResponseCode) && String.IsNullOrWhiteSpace(Model.ResponseDesc)))
    {
        <div class="col-lg-8 col-md-8 form-container">
            <div class="col-lg-2 col-md-2 col-sm-2 form-fields">
                <div class="fields form-group">
                    <label>Split Batch</label>
                    <input type="number" class="form-control" placeholder="No of Sub Batch" id="txtNoSubBatch" name="NoSubBatch" autocomplete="off" value="" onchange="GenerateSubBatches('#tblSubBatchDetails')" />
                </div>
                <div class="fields form-group" id="SubBatchBal" style="display:none">
                    <label>Balance Batch Qty</label>
                    <input type="number" class="form-control" placeholder="Balance Split Batch Qty" id="txtSubBatchBal" name="SubBatchBal" autocomplete="off" value="" readonly disabled" />
                </div>
            </div>
            <div class="col-lg-6 form-container" style="display:none;">
                <table id="tblSubBatchDetails" class="table">
                    <thead>
                        <tr>
                            <th style="display:none;">ID</th>
                            <th>#</th>
                            <th>Remarks</th>
                            <th>Vol-Obs</th>
                            <th>Vol-15°C</th>
                            <th>Mass</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for (int i = 1; i <= 8; i++)
                            {
                                <tr id="row_@i" style="display:none;">
                                    <td style="display:none;">@i</td>
                                    <td><input id="txtSubBatchNo_@i" name="subBatchNo" readonly type="text" placeholder="SNo" class="form-control" value="@i" disabled></td>
                                    <td><div class="fields form-group" style="margin: 0;"><input id="txtSubBatchRemarks_@i" name="SubBatchRemarks" type="text" placeholder="Batch Remarks" class="form-control" value="" autocomplete="off"></div></td>
                                    <td><div class="fields form-group" style="margin: 0;"><input id="txtSubBatchQty_@i" name="SubBatchQty" type="text" placeholder="Qty" class="form-control" value="" autocomplete="off" onchange="UpdateBatchBalance()" onkeypress="return isDecimalKey(event)"></div></td>
                                    <td><div class="fields form-group" style="margin: 0;"><input id="txtSubBatchVol15Qty_@i" name="SubBatchVol15Qty" type="text" placeholder="Vol15" class="form-control" value="" autocomplete="off" onkeypress="return isDecimalKey(event)"></div></td>
                                    <td><div class="fields form-group" style="margin: 0;"><input id="txtSubBatchMassQty_@i" name="SubBatchMassQty" type="text" placeholder="Mass" class="form-control" value="" autocomplete="off" onkeypress="return isDecimalKey(event)"></div></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div>
                    <a id="saveButton" role="button" style="margin-top: 10px;" class="btn btn-primary" href="#" onclick="SplitMFMBatch();"><span class="glyphicon glyphicon-list"></span>SPLIT BATCH</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="row button-bar">
    <div class="col-lg-12">
        @if (AllowEdit)
        {
            <a id="saveButton" role="button" class="btn btn-primary" href="#" onclick="UpdateMFMBatch();"><span class="glyphicon glyphicon-floppy-saved"></span>UPDATE</a>
        }
        <a id="cancelButton" role="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="#cancelModal"><span class="glyphicon glyphicon-remove"></span>CANCEL</a>
    </div>
</div>
<script src="~/Scripts/PageJS/Transactions/MFMBatch/MFMBatch.js"></script>
