@using TOAST.Shared;
@using TOAST.Business;
@using TOAST.Data.Model;
@model TOAST.Data.Model.tblTank
@{
    ViewBag.Title = "Plant View - Tank View";
    Layout = null;
    tblTank tank = Model;
    List<tblTank> SameGrpTanks = ViewBag.SameGrpTanks;
    List<tblMOVMaster> tankMOVs = tank.tblMOVMasters.ToList();
    string TkPrefix = tank.TagPrefix;
    bool ShowSafetyRadarDataLevel = ViewBag.ShowSafetyRadarLevel;
    string CustName = clsConfig.CustomerName;
    bool ShowInterlockNotes = (CustName == "HPCL");
}
<div class="modal-dialog tank-modal" style="width: 800px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myTANKVIEWModalLabel">@(tank.TankName) | @tank.tblProduct.ProdNameShort</h3>
        </div>
        <div class="modal-body" id="myMOVModalBody" style="padding: 5px;">
            @{
                string SameProdTanksTags = String.Join(",", SameGrpTanks.Select(x => (x.TagPrefix + "_MODE_DDL")).ToList());
                if (SameProdTanksTags != "")
                {
                    <input type="hidden" id="SameGrpTankModeTags" value="@(SameProdTanksTags)" />
                }
            }
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-5">
                        <div class="box-panel tank-level-detail-container">
                            <div class="tank-level-detail-heading">Tank Details</div>
                            <div class="tank-level-detail-row odd">
                                <div class="tank-level-detail-lbl">Tank Name</div>
                                <div class="tank-level-detail-val">@(tank.TankName)</div>
                            </div>
                            <div class="tank-level-detail-row even">
                                <div class="tank-level-detail-lbl">Product Name</div>
                                <div class="tank-level-detail-val">@tank.tblProduct.ProdNameShort</div>
                            </div>
                            <div class="tank-level-detail-row odd">
                                <div class="tank-level-detail-lbl">Dip Ref. Height (@clsConfig.TFMSLevelUnit)</div>
                                <div class="tank-level-detail-val">@tank.DipReferenceHeight</div>
                            </div>
                            @*<div class="tank-level-detail-row even">
                                    <div class="tank-level-detail-lbl">Tank Dia (m)</div>
                                    <div class="tank-level-detail-val">@tank.NominalDia</div>
                                </div>*@
                            <div class="tank-level-detail-row even">
                                <div class="tank-level-detail-lbl">Tank Type</div>
                                <div class="tank-level-detail-val">@tank.tblTankType.TankType</div>
                            </div>
                            <div class="tank-level-detail-row odd">
                                <div class="tank-level-detail-lbl">Safe Filling Height (@clsConfig.TFMSLevelUnit)</div>
                                <div class="tank-level-detail-val @(TkPrefix)_LVL_HHH"></div>
                            </div>
                            <div class="tank-level-detail-row even">
                                <div class="tank-level-detail-lbl">Capacity (KL)</div>
                                <div class="tank-level-detail-val">@tank.MaxVolume</div>
                            </div>
                        </div>
                        <div class="box-panel tank-level-detail-container">
                            <div class="tank-level-detail-heading">Measured Values</div>
                            <div class="tank-level-detail-row odd">
                                <div class="tank-level-detail-lbl">Level (@clsConfig.TFMSLevelUnit)</div>
                                <div class="tank-level-detail-val @(TkPrefix)_LEVEL"></div>
                            </div>
                            <div class="tank-level-detail-row even">
                                <div class="tank-level-detail-lbl">Temperature (℃)</div>
                                <div class="tank-level-detail-val @(TkPrefix)_AVG_TEMP"></div>
                            </div>
                            <div class="tank-level-detail-row odd">
                                <div class="tank-level-detail-lbl">Total Observed Volume(KL)</div>
                                <div class="tank-level-detail-val @(TkPrefix)_TOV"></div>
                            </div>
                            <div class="tank-level-detail-row even">
                                <div class="tank-level-detail-lbl">Std. Density (kg/m³)</div>
                                <div class="tank-level-detail-val @(TkPrefix)_STD_DENSITY"></div>
                            </div>
                            <div class="tank-level-detail-row odd">
                                <div class="tank-level-detail-lbl">Water Level (@clsConfig.TFMSLevelUnit)</div>
                                <div class="tank-level-detail-val @(TkPrefix)_WATER_LVL"></div>
                            </div>
                            <div class="tank-level-detail-row even">
                                <div class="tank-level-detail-lbl">Volume Flow Rate (m³/hr)</div>
                                <div class="tank-level-detail-val @(TkPrefix)_FLOW_RATE"></div>
                            </div>
                            <div class="hide tank-level-detail-row odd">
                                <div class="tank-level-detail-lbl">Gauge Status</div>
                                <div class="tank-level-detail-val">
                                    <span class="circle-cont-md">
                                        <span class="@(TkPrefix)_GAUGE_STATUS"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="box-panel">
                            <table class="detail-tbl">
                                <tbody>
                                    <tr>
                                        <td class="detail-tbl-lbl">Maintenance mode</td>
                                        <td class="detail-tbl-val">
                                            <div class="toggle-wrapper float-r" onclick="cancelBubble(event);SetProcessValue('Set Tank to Maintenance Mode','Tank: @tank.TankName',this, '@(TkPrefix+"_MAINT")', 'TOGGLE', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]')">
                                                <input id="toggle-maintainence-mode" class="on-off-btn @(TkPrefix+"_MAINT")" data-on="On" data-off="Off" checked type="checkbox" data-opcvalue="">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td class="detail-tbl-lbl">Allow Dispatch after HHH</td>
                                        <td class="detail-tbl-val">
                                            @if (tank.tblProduct.Visible)
                                            {
                                                <div class="toggle-wrapper float-r" onclick="cancelBubble(event);SetProcessValue('Enable Dispatch After HHH','Tank: @tank.TankName',this, '@(TkPrefix+"_DISP_HHH")', 'TOGGLE', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]')">
                                                    <input id="toggle-maintainence-mode" class="on-off-btn @(TkPrefix+"_DISP_HHH")" data-on="Yes" data-off="No" checked type="checkbox" data-opcvalue="">
                                                </div>
                                            }
                                            else
                                            {
                                                <span>N/A</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="detail-tbl-lbl">Allow Receipt after HHH</td>
                                        <td class="detail-tbl-val">
                                            @if (tank.tblProduct.Visible)
                                            {
                                                <div class="toggle-wrapper float-r" onclick="cancelBubble(event);SetProcessValue('Enable Receipt After HHH','Tank: @tank.TankName',this, '@(TkPrefix+"_RECP_HHH")', 'TOGGLE', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]')">
                                                    <input id="toggle-maintainence-mode" class="on-off-btn @(TkPrefix+"_RECP_HHH")" data-on="Yes" data-off="No" checked type="checkbox" data-opcvalue="">
                                                </div>
                                            }
                                            else
                                            {
                                                <span>N/A</span>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="oil-tank-product-row">
                            @*<div class="oil-tank-product-lbl">Tank Name</div>
                                <div class="oil-tank-product-val">@(tank.TankName)</div>
                                <div class="oil-tank-product-lbl">Product Name</div>
                                <div class="oil-tank-product-val">@tank.tblProduct.ProdNameShort</div>*@
                        </div>
                        <div class="oil-tank-container">
                            <div class="tank-block @tank.tblTankType.TankType">
                                <span class="maintainence-mode-icon @(TkPrefix)_MAINT"></span>
                                <span class="stair">
                                    <span class="app-logo @CustName"></span>
                                </span>
                                <span class="@(TkPrefix + "_LEVEL")" style="display: none;"></span>
                                <span class="oil-tank-fill-container @(TkPrefix)_OIL_TANK_FILL">
                                    @{
                                        if (tank.DefloatLevel > 0)
                                        {
                                            <span class="level-line-cont tooltips" title="Level ('@(tank.DefloatLevel) @(clsConfig.TFMSLevelUnit)') below which Tank will Defloat">
                                                <span class="level-line"></span>
                                                <span class="level-value"></span>
                                            </span>
                                        }
                                    }
                                    <span class="oil-tank-base"></span>
                                    <span class="oil-tank-fill" style="background-color:@tank.tblProduct.ProductColor; height: 3%"></span>
                                </span>
                                <span class="tank-lbl-wrapper">
                                    <span class="oil-tank-lbl cir-red-hhh">
                                        <label>HHH</label>
                                        <span class="@(TkPrefix)_HHH @(TkPrefix)_ALRM_HHH"></span>
                                    </span>

                                    <span class="oil-tank-lbl cir-red-hh">
                                        <label>HH</label>
                                        <span class="@(TkPrefix)_HH @(TkPrefix)_ALRM_HH"></span>
                                    </span>

                                    <span class="oil-tank-lbl  cir-red-h">
                                        <label>H</label>
                                        <span class="@(TkPrefix)_H @(TkPrefix)_ALRM_H"></span>
                                    </span>

                                    <span class="oil-tank-lbl cir-red-l">
                                        <label>L</label>
                                        <span class="@(TkPrefix)_L @(TkPrefix)_ALRM_L"></span>
                                    </span>

                                    <span class="oil-tank-lbl  cir-red-ll">
                                        <label>LL</label>
                                        <span class="@(TkPrefix)_LL @(TkPrefix)_ALRM_LL"></span>
                                    </span>

                                    <span class="oil-tank-lbl  cir-red-lll" style="display:none">
                                        <label>LLL</label>
                                        <span class="@(TkPrefix)_LLL @(TkPrefix)_ALRM_LLL"></span>
                                    </span>
                                </span>
                                <span class="@(TkPrefix)_FLW_RATE level-rate-icon"></span>
                                <span class="tank-bottom-txt">
                                    Current Mode<span>:</span>
                                    <span class="@(TkPrefix + "_MODE_DDL")" style="font-weight: bold;">
                                        <span></span>
                                    </span>
                                </span>
                            </div>

                            @if (ShowSafetyRadarDataLevel && tank.tblProduct.Visible && !String.IsNullOrWhiteSpace(tank.SecGaugeType))
                            {
                                <span class="tank-secondary-data tooltips cursor-point get-hover" title="Safety Radar Product Level" onclick="OpenChartModal('@(TkPrefix+"_SEC_LEVEL")', '@(tank.PageName)'); cancelBubble(event);">
                                    <span class="@(TkPrefix)_SEC_LEVEL"></span> @clsConfig.TFMSLevelUnit
                                </span>
                                <span class="tooltips tank-sec-data-support-txt cursor-point" title="Process & Safety Radar Level Diff"><span class="@(TkPrefix)_PRI_SEC_LVL_DIFF"></span> <span> @clsConfig.TFMSLevelUnit</span></span>
                                <span class="alert-cont-xsm">
                                    <span class="tooltips @(TkPrefix)_PRI_SEC_DIFF_ALERT" title="Process & Safety Radar Level Diff > 5mm" style="position: absolute; right: 0px; top: 50px;"></span>
                                </span>

                            }



                            <div class="remote-auto-icon-block">
                                <span class="hide control-icon clickable @(TkPrefix)_AUTOMAN" onclick="OpenAutoManModal(this, '@tank.UniqueID','@(tank.TankName)','@(TkPrefix)_AUTOMAN', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]');"></span>
                            </div>

                            <span class="thermometer-block">
                                <span class="thermometer-lbl"></span>
                                @*<span class="thermometer-fill-percentage"><span class="@(tank.TankName)_PERCENTAGE" data-id=""></span> %</span>*@
                                <span class="thermometer-fill-percentage tooltips" title="Tank % filled"><span class="@(TkPrefix)_PER_LVL"></span> %</span>
                                <span class="thermometer-fill-prod-level get-hover tooltips" title="Process Radar Product Level" onclick="OpenChartModal('@(TkPrefix+"_LEVEL")', '@(tank.PageName)'); cancelBubble(event);"><span class="@(TkPrefix)_LEVEL"></span> @clsConfig.TFMSLevelUnit</span>
                                <span class="thermometer-fill-degree tooltips" title="Product Avg Temp."><span class="@(TkPrefix)_AVG_TEMP"></span> °C</span>
                                <span class="observed-density tooltips" title="Observed Density"><span class="@(TkPrefix)_AMB_DENSITY"></span> kg/m³</span>
                            </span>
                        </div>
                        @{
                            string oil = ""; string OISD = "none";
                            if (tank.tblProduct.ProductName.ToUpper().Contains("WATER")) { oil = "none"; OISD = "block"; }

                            <div class="box-panel tank-level-detail-container-right" style="display: @oil;">
                                <div class="col-lg-4 no-padd">
                                    <div class="tank-level-detail-row">
                                        <div class="tank-level-detail-alrm">HHH(@clsConfig.TFMSLevelUnit)</div>
                                        <div class="tank-level-detail-val-alrm">
                                            <input type="number" step="0.01" min=0 readonly class="editable-input @(TkPrefix)_LVL_HHH" ondblclick="this.readOnly='';"
                                                   style="border: 0px;" value="@(TkPrefix)_LVL_HHH">
                                            <span class="glyphicon glyphicon-upload" onclick="UpdateTankLvlSetPoints(this,'@(TkPrefix)_LVL_HHH','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="tank-level-detail-row">
                                        @if (Model.DefloatLevel != 0 && Model.TankType == 2)
                                        {
                                            <div class="tank-level-detail-alrm tooltips" title="Alarm Level (mm) to avoid Tank to defloat">Defloat</div>
                                            <div class="tank-level-detail-val-alrm ">
                                                <input type="number" step="0.01" min=0 readonly class="editable-input @(TkPrefix)_DEFLT_SP" ondblclick="this.readOnly='';"
                                                       style="border: 0px;" value="@(TkPrefix)_DEFLT_SP">
                                                <span class="glyphicon glyphicon-upload" onclick="UpdateTankLvlSetPoints(this,'@(TkPrefix)_DEFLT_SP','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="tank-level-detail-alrm"></div>
                                            <div class="tank-level-detail-val-alrm ">
                                                <input type="number" disabled readonly class="editable-input @(TkPrefix)_LVL_LLL" ondblclick="this.readOnly='';"
                                                       style="border: 0px;" value="@(TkPrefix)_LVL_LLL">
                                                <span class="glyphicon glyphicon-upload" style="display:none" onclick="UpdateTankLvlSetPoints(this,'@(TkPrefix)_LVL_LLL','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                            </div>
                                        }

                                    </div>
                                </div>
                                <div class="col-lg-4 no-padd">
                                    <div class="tank-level-detail-row">
                                        <div class="tank-level-detail-alrm">HH(@clsConfig.TFMSLevelUnit)</div>
                                        <div class="tank-level-detail-val-alrm">
                                            <input type="number" step="0.01" min=0 readonly class="editable-input @(TkPrefix)_LVL_HH" ondblclick="this.readOnly='';"
                                                   style="border: 0px;" value="@(TkPrefix)_LVL_HH">
                                            <span class="glyphicon glyphicon-upload" onclick="UpdateTankLvlSetPoints(this,'@(TkPrefix)_LVL_HH','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="tank-level-detail-row">
                                        <div class="tank-level-detail-alrm">LL (@clsConfig.TFMSLevelUnit)</div>
                                        <div class="tank-level-detail-val-alrm">
                                            <input type="number" step="0.01" min=0 readonly class="editable-input @(TkPrefix)_LVL_LL" ondblclick="this.readOnly='';"
                                                   style="border: 0px;" value="@(TkPrefix)_LVL_LL">
                                            <span class="glyphicon glyphicon-upload" onclick="UpdateTankLvlSetPoints(this,'@(TkPrefix)_LVL_LL','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 no-padd">
                                    <div class="tank-level-detail-row">
                                        <div class="tank-level-detail-alrm">H (@clsConfig.TFMSLevelUnit)</div>
                                        <div class="tank-level-detail-val-alrm">
                                            <input type="number" step="0.01" min=0 readonly class="editable-input @(TkPrefix)_LVL_H" ondblclick="this.readOnly='';"
                                                   style="border: 0px;" value="@(TkPrefix)_LVL_H">
                                            <span class="glyphicon glyphicon-upload" onclick="UpdateTankLvlSetPoints(this,'@(TkPrefix)_LVL_H','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="tank-level-detail-row">
                                        <div class="tank-level-detail-alrm">L (@clsConfig.TFMSLevelUnit)</div>
                                        <div class="tank-level-detail-val-alrm">
                                            <input type="number" step="0.01" min=0 readonly class="editable-input @(TkPrefix)_LVL_L" ondblclick="this.readOnly='';"
                                                   style="border: 0px;" value="@(TkPrefix)_LVL_L">
                                            <span class="glyphicon glyphicon-upload" onclick="UpdateTankLvlSetPoints(this,'@(TkPrefix)_LVL_L','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="statutory-gantry-block" style="display: @OISD;">
                                    <table class="detail-tbl">
                                        <tbody>
                                            <tr class="odd">
                                                <td class="detail-tbl-lbl tooltips" title="Min Volume (in KL) required as per PESO/OISD"><span class="">Min Statutory Vol.(KL)</span></td>
                                                <td class="detail-tbl-val" style="width: 100px;">
                                                    <input type="number" readonly class="editable-input MIN_WATER_VOL_SP" ondblclick="this.readOnly='';"
                                                           style="border: 0px;" value="23">
                                                    <span class="glyphicon glyphicon-upload" onclick="UpdateTankLvlSetPoints(this,'MIN_WATER_VOL_SP','@(tank.TankName)','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" aria-hidden="true"></span>
                                                </td>
                                                <td class="detail-tbl-lbl tooltips" title="Current Volume of Water in KL."><span class="">Curr. Vol.(KL)</span></td>
                                                <td class="detail-tbl-val bold f-size-15" width="10%"><span class="CURR_TOT_WATER_VOL">33000</span></td>

                                            </tr>
                                            <tr class="even">
                                                <td class="detail-tbl-lbl tooltips" title="Gantry Operation even if min water volume (90% OISD Limit) is not met.">
                                                    <span class="">Gantry Operations</span>
                                                    <span class="supportive-txt">If Water Level < min requirement.</span>
                                                </td>
                                                <td class="detail-tbl-val text-center">
                                                    <div class="toggle-wrapper" onclick="ByPassGantryShutdown('@(tank.TankName)',this, 'GAN_SHUT_BYPASS','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]', event)">
                                                        <input id="toggle-gantry-operation" class="on-off-btn GAN_SHUT_BYPASS" data-on="Allowed" data-off="Denied" checked type="checkbox" data-width="80">
                                                    </div>

                                                </td>


                                                <td class="detail-tbl-lbl tooltips" title="Gantry Shutdown State"><span class="">Gantry Shutdown State</span></td>
                                                <td class="detail-tbl-val" width="10%">
                                                    <span class="GAN_SHUT_STATE tooltips" title="Gantry Shutdown State"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }

                        <div class="row " style="margin-top: 18px;display:@oil">
                            <div class="col-lg-9">
                                <label for="ddlTankMode">Mode</label>
                                <select disabled id="ddlTankMode" class="@(TkPrefix)_MODE_DDL"></select>
                            </div>
                            <div class="col-lg-3 pull-right oil-tank-mode-selection">
                                <a id="aChangeMode" href="javascript:void(0);" class="push-btn"
                                   onclick="ChangeTankMode(this,'@(tank.UniqueID)', '@(TkPrefix)_MODE_DDL','@(TkPrefix)_AUTOMAN','@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')"
                                   data-opcvalue="" style="left: -123px; top: -6px;">Change Mode</a>
                                <a style="display:none" data-opcvalue="" onclick="ResetTankAlarms(this, '@tank.TankName', '@Session[clsConstants.UserID]','@Session[clsConstants.LoginID]','@Session[clsConstants.UserName]')" href="javascript:void(0);" class="push-btn reset-alarm">Reset Alarm</a>
                                <a href="javascript: void(0)" id="OpenInterLockBtn">View mode interlock <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 18px;">
                            <div class="col-lg-12">
                                <div class="tblTankModal_wrapper">
                                    <table class="table table-responsive table-striped" id="tblTankModal">
                                        <thead>
                                            <tr>
                                                @{
                                                    foreach (string line in tankMOVs.Where(x => x.tblMOVLine != null).Select(x => x.tblMOVLine.Line).Distinct())
                                                    {
                                                        <th colspan="@(tankMOVs.Where(x=>x.tblMOVLine!=null && x.tblMOVLine.Line==line).Count())">@line</th>
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                @{
                                                    foreach (string line in tankMOVs.Where(x => x.tblMOVLine != null).Select(x => x.tblMOVLine.Line).Distinct())
                                                    {
                                                        foreach (string type in tankMOVs.Select(x => x.tblMOVType.MOVLoc).Distinct())
                                                        {
                                                            tblMOVMaster mov = tankMOVs.Where(x => x.tblMOVType != null && x.tblMOVLine != null).Where(y => y.tblMOVType.MOVLoc == type && y.tblMOVLine.Line == line).FirstOrDefault();
                                                            if (mov != null)
                                                            {
                                                                string Mov_Name = "MOV_" + mov.UniqueID.ToString("0#");
                                                                string mType = (mov.MOVType == 1 ? "rosov" : (mov.MOVType == 2) ? "dbbv" : "mov");
                                                                string MoVPrefix = (mov.TagPrefix + "_");
                                                                string movpage = mov.tblMOVType.MOVType.ToLower() + "view" + string.Format("{0:00}", mov.MovTypeSeqNo);
                                                                <td class="mov-valve-tank-popup">
                                                                    <div class="mov-lbl"><span>@mov.tblMOVType.MOVLoc</span></div>
                                                                    @*<div class="mov-lbl mov-lbl-left"><span>@mov.tblMOVType.MOVLoc</span></div>*@
                                                                    <div class="@(mType)-valve-info-container" onclick="GetMOVModal('@mov.MOVType','@mov.UniqueID','@movpage')">
                                                                        <div class="@(mType)-valve">
                                                                            <span class="maintainence-mode-icon @(MoVPrefix+"_MAINT")"></span>
                                                                            <span class="mov-valve-fill">
                                                                                <span class="fill-value percentage @(MoVPrefix+"_FILL")" data-id="@(MoVPrefix+"PER_OPN")"></span>
                                                                            </span>
                                                                            <span title="No Feedback" data-tooltip-attr="@(mType)*" class="tooltips @(mType)-valve @(MoVPrefix+"GEN_ALRM_IMG") @(MoVPrefix+"OPN_IMG") @(MoVPrefix+"CLS_IMG")"></span>
                                                                            <span class="percentage-fill-val hide"><span class="per_opn_mov @(MoVPrefix+"PER_OPN")"></span>%</span>
                                                                            <span title="" data-tooltip-attr="LOCREM*" class="tooltips control-icon @(MoVPrefix+"LOCREM") @(MoVPrefix+"REMOTE_SELECT") @(MoVPrefix+"STOP_SELECT")"></span>
                                                                            <span title="" data-tooltip-attr="AUTOMAN" class="tooltips control-icon @(MoVPrefix+"AUTOMAN")"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mov-lbl"><span>@(mov == null ? "" : mov.MovName)</span></div>
                                                                </td>
                                                            }
                                                        }
                                                    }
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
        </div>
        @{
            tblMOVMaster ReceiptROSOV = tankMOVs.Where(y => y.MOVType == 1 && y.MOVLine == 1).FirstOrDefault();
            tblMOVMaster DispatchROSOV = tankMOVs.Where(y => y.MOVType == 1 && y.MOVLine == 2).FirstOrDefault();
            tblMOVMaster ChurningROSOV = tankMOVs.Where(y => y.MOVType == 1 && y.MOVLine == 3).FirstOrDefault();
            tblMOVMaster ReceiptDBBV = tankMOVs.Where(y => y.MOVType == 2 && y.MOVLine == 1).FirstOrDefault();
            tblMOVMaster DispatchDBBV = tankMOVs.Where(y => y.MOVType == 2 && y.MOVLine == 2).FirstOrDefault();
            tblMOVMaster ChurningDBBV = tankMOVs.Where(y => y.MOVType == 2 && y.MOVLine == 3).FirstOrDefault();
            string dbbvBypass = (clsConfig.IsDBBVCheckByPassedInModeSetting ? "" : "hide");
        }
        <div id="InterlockPanel" class="side-bar-panel">
            <div class="side-bar-heading">
                Interlock
                <span id="sideBarCloseIcon" class="close">×</span>
            </div>
            <div class="side-bar-content">
                <div class="row">
                    <div class="col-lg-12">
                        <select id="ddlInterlockMode" class="@(TkPrefix)_MODE_DDL" onchange="showInterLockModeContent()"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 inter-lock-content">
                        <div id="Dispatch">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table-striped app-tbl">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 55%">Interlock</th>
                                                <th class="text-center tooltips" style="width: 15%">Current Status</th>
                                                <th class="text-center tooltips" style="width: 15%">Expected Status</th>
                                                <th class="text-center tooltips" style="width: 15%">Effective Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="interlock-sts">
                                                <td>No other tank of Same grp in Dispatch</td>
                                                <td><span class="circle-cont-sm"><span class="curr tanksInSameMode_2"></span></span></td>
                                                <td><span class="circle-cont-sm"><span class="cmpr status_true" data-opcvalue="true"></span></span></td>
                                                <td class="text-center">
                                                    <span class="cross result-val"></span>
                                                </td>
                                            </tr>
                                            @if (ReceiptROSOV != null)
                                            {
                                                <tr class="interlock-sts">
                                                    <td>Receipt ROSOV should be closed.</td>
                                                    <td><span class="circle-cont-sm"><span class="curr @(ReceiptROSOV.TagPrefix + "_CLS_FB")"></span></span></td>
                                                    <td><span class="circle-cont-sm"><span class="cmpr status_true" data-opcvalue="True"></span></span></td>
                                                    <td class="text-center">
                                                        <span class="cross result-val"></span>
                                                    </td>
                                                </tr>
                                            }
                                            @if (ReceiptDBBV != null)
                                            {
                                                <tr class="interlock-sts">
                                                    <td>Receipt DBBV should be closed.<span class="bypass-txt red @dbbvBypass">Bypassed</span></td>
                                                    <td><span class="circle-cont-sm"><span class="curr @(ReceiptDBBV.TagPrefix + "_CLS_FB")"></span></span></td>
                                                    <td><span class="circle-cont-sm"><span class="cmpr status_true" data-opcvalue="True"></span></span></td>
                                                    <td class="text-center"><span class="cross result-val"></span></td>
                                                </tr>
                                            }
                                            <tr class="interlock-sts">
                                                <td>No ESD Active</td>
                                                <td><span class="alert-cont-sm"><span class="curr PROCESS_ESD"></span></span></td>
                                                <td><span class="alert-cont-sm"><span class="cmpr alert_false" data-opcvalue="False"></span></span></td>
                                                <td class="text-center"><span class="cross result-val"></span></td>
                                            </tr>
                                            <tr class="hide interlock-sts">
                                                <td>No Low Alarm Active</td>
                                                <td><span class="alert-cont-sm"><span class="curr @(TkPrefix)_L"></span></span></td>
                                                <td><span class="alert-cont-sm"><span class="cmpr alert_false" data-opcvalue="False"></span></span></td>
                                                <td class="text-center"><span class="cross result-val"></span></td>
                                            </tr>
                                            <tr class="interlock-sts">
                                                <td>No Low-Low Alarm Active</td>
                                                <td><span class="alert-cont-sm"><span class="curr @(TkPrefix)_LL"></span></span></td>
                                                <td><span class="alert-cont-sm"><span class="cmpr alert_false" data-opcvalue="False"></span></span></td>
                                                <td class="text-center"><span class="cross result-val"></span></td>
                                            </tr>
                                            @if (DispatchROSOV != null)
                                            {
                                                <tr class="interlock-sts">
                                                    <td>Dispatch ROSOV LPBS in Pressed State</td>
                                                    <td><span class="circle-cont-sm"><span class="curr @(DispatchROSOV.TagPrefix + "_PBS_CLS_STS")"></span></span></td>
                                                    <td><span class="circle-cont-sm"><span class="cmpr status_true" data-opcvalue="True"></span></span></td>
                                                    <td class="text-center"><span class="cross result-val"></span></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div> <br />
                            <span class="@(ShowInterlockNotes?"":"hide")">Note: Valve should be opened locally within 120 Sec of setting to Dispatch Mode else tank will be set to Dormant Mode</span>
                        </div>
                        <div id="Dormant">
                            There are no Pre-Requisites / Interlocks for Setting tank in Dormant Mode. <br /> On setting the tank to Dormant Mode,
                            The Inlet and outlet ROSOV and DBBV valves will be closed automatically.
                        </div>
                        <div id="Receipt">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table-striped app-tbl">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 55%">Interlock</th>
                                                <th class="text-center tooltips" style="width: 15%">Current Status</th>
                                                <th class="text-center tooltips" style="width: 15%">Expected Status</th>
                                                <th class="text-center tooltips" style="width: 15%">Effective Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="interlock-sts">
                                                <td>No other tank of Same grp in Receipt</td>
                                                <td><span class="circle-cont-sm"><span class="curr tanksInSameMode_5"></span></span></td>
                                                <td><span class="circle-cont-sm"><span class="cmpr status_true" data-opcvalue="true"></span></span></td>
                                                <td class="text-center"><span class="cross result-val" aria-hidden="true"></span></td>
                                            </tr>
                                            @if (DispatchROSOV != null)
                                            {
                                                <tr class="interlock-sts">
                                                    <td>Dispatch ROSOV should be closed.</td>
                                                    <td><span class="circle-cont-sm"><span class="curr @(DispatchROSOV.TagPrefix + "_CLS_FB")"></span></span></td>
                                                    <td><span class="circle-cont-sm"><span class="cmpr status_true" data-opcvalue="True"></span></span></td>
                                                    <td class="text-center"><span class="cross result-val" aria-hidden="true"></span></td>
                                                </tr>
                                            }
                                            @if (DispatchDBBV != null)
                                            {
                                                <tr class="interlock-sts">
                                                    <td>Dispatch DBBV should be closed. <span class="bypass-txt red @dbbvBypass">Bypassed</span></td>
                                                    <td><span class="circle-cont-sm"><span class="curr @(DispatchDBBV.TagPrefix + "_CLS_FB")"></span></span></td>
                                                    <td><span class="circle-cont-sm"><span class="cmpr status_true" data-opcvalue="True"></span></span></td>
                                                    <td class="text-center"><span class="cross result-val" aria-hidden="true"></span></td>
                                                </tr>
                                            }
                                            <tr class="interlock-sts">
                                                <td>No ESD Active</td>
                                                <td><span class="alert-cont-sm"><span class="curr PROCESS_ESD"></span></span></td>
                                                <td><span class="alert-cont-sm"><span class="cmpr alert_false" data-opcvalue="False"></span></span></td>
                                                <td class="text-center"><span class="cross result-val" aria-hidden="true"></span></td>
                                            </tr>
                                            <tr class="hide interlock-sts">
                                                <td>No Hi Alarm Active</td>
                                                <td><span class="alert-cont-sm"><span class="curr @(TkPrefix)_H"></span></span></td>
                                                <td><span class="alert-cont-sm"><span class="cmpr alert_false" data-opcvalue="False"></span></span></td>
                                                <td class="text-center"><span class="cross result-val" aria-hidden="true"></span></td>
                                            </tr>
                                            <tr class="hide interlock-sts">
                                                <td>No Hi-Hi Alarm Active</td>
                                                <td><span class="alert-cont-sm"><span class="curr @(TkPrefix)_HH"></span></span></td>
                                                <td><span class="alert-cont-sm"><span class="cmpr alert_false" data-opcvalue="False"></span></span></td>
                                                <td class="text-center"><span class="cross result-val" aria-hidden="true"></span></td>
                                            </tr>
                                            <tr class="interlock-sts">
                                                <td>No Hi-Hi-Hi Alarm Active</td>
                                                <td><span class="alert-cont-sm"><span class="curr @(TkPrefix)_HHH"></span></span></td>
                                                <td><span class="alert-cont-sm"><span class="cmpr alert_false" data-opcvalue="False"></span></span></td>
                                                <td class="text-center"><span class="cross result-val" aria-hidden="true"></span></td>
                                            </tr>
                                            @if (DispatchROSOV != null)
                                            {
                                                <tr class="interlock-sts">
                                                    <td>Receipt ROSOV LPBS in Pressed State</td>
                                                    <td><span class="circle-cont-sm"><span class="curr @(ReceiptROSOV.TagPrefix + "_PBS_CLS_STS")"></span></span></td>
                                                    <td><span class="circle-cont-sm"><span class="cmpr status_true" data-opcvalue="True"></span></span></td>
                                                    <td class="text-center"><span class="cross result-val" aria-hidden="true"></span></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div> <br />
                            <span class="@(ShowInterlockNotes?"":"hide")">Note: Valve should be opened locally within 120 Sec of setting to Receipt Mode else tank will be set to Dormant Mode</span>
                        </div>
                        <div id="InterTankReceipt">
                            Inter Tank Receipt Interlocks: <br />
                            @if (ChurningROSOV == null && ChurningDBBV == null)
                            {
                                <span>Note: Churning / Re-circulation valves not defined</span>
                            }
                        </div>
                        <div id="InterTankDispatch">
                            Inter Tank Dispatch Interlocks: <br />
                            @if (ChurningROSOV == null && ChurningDBBV == null)
                            {
                                <span>Note: Churning / Re-circulation valves not defined</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //$(function () {
    //    $('.on-off-btn').bootstrapToggle();
    //})
    createTooltip();

    //var ele = document.getElementById("OpenInterLockBtn");
    $('#OpenInterLockBtn').on('click', function () {
        $('#InterlockPanel').toggleClass('open');
        $('#myTANKVIEWModal').toggleClass('tank-modal-left-spacing');

    });
    $('#sideBarCloseIcon').on('click', function () {
        $('#InterlockPanel').removeClass('open');
        $('#myTANKVIEWModal').removeClass('tank-modal-left-spacing');
    });

    $('.close').on('click', function () {
        var tankModal = $('#myTANKVIEWModal');
        if (tankModal.hasClass('tank-modal-left-spacing')) {
            $('#InterlockPanel').removeClass('open');
            tankModal.removeClass('tank-modal-left-spacing');
        }
    });



    function showInterLockModeContent() {
        selectedIndex = $('#ddlInterlockMode').val();
        if (selectedIndex == undefined) { return; }
        switch (selectedIndex) {
            case "2":
                $('#Dispatch').show();
                $('.inter-lock-content > div').not('#Dispatch').hide();
                break;
            case "3":
                $('#Maintenance').show();
                $('.inter-lock-content > div').not('#Maintenance').hide();
                break;
            case "4":
                $('#Dormant').show();
                $('.inter-lock-content > div').not('#Dormant').hide();
                break;
            case "5":
                $('#Receipt').show();
                $('.inter-lock-content > div').not('#Receipt').hide();
                break;
            case "6":
                $('#InterTankReceipt').show();
                $('.inter-lock-content > div').not('#InterTankReceipt').hide();
                break;
            case "9":
                $('#InterTankDispatch').show();
                $('.inter-lock-content > div').not('#InterTankDispatch').hide();
                break;
        }
    }
</script>