@using TOAST.Data.Model;
@using TOAST.Shared;
@using TOAST.Business;
@model List<tblPump>
@{
    ViewBag.Title = "Plant View - Pumps View";
    Layout = null;
    List<string> Groups;
    if (clsConfig.PumpsGrouping.ToUpper() == "Service-Wise".ToUpper())
    { Groups = Model.Where(x => x.ServiceID != null && x.tblProduct.Visible && x.tblProduct.tblProductComponents.Count() == 1).OrderBy(x => x.ServiceID).Select(x => x.tblPumpService.Service).Distinct().ToList(); }
    else { Groups = Model.Where(x => x.tblProduct != null && x.tblProduct.Visible && x.tblProduct.tblProductComponents.Count() == 1).OrderBy(x => x.ProductID).Select(x => x.tblProduct.ProdNameShort).Distinct().ToList(); }
    string OtherPages = String.Join(",", Model.SelectMany(x => x.tblDeviceMasters.Select(y => y.PageName)));
}
<style>
    .pump-view-header > span:first-child {
        width: 60%;
    }
    .pump-view-header > span:last-child {
        width: 32%;
    }
</style>

@*<div class="row">
        <div class="col-lg-12">
            <h3 class="grid-headerplant" style="color:black">Pumps View</h3>
        </div>
    </div>*@
<div id="dvContent" class="content">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="grid-headerplant" style="color:black;font-size: 30px;">Pumps View</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 m-t-10">
            <div class="tab-wrapper w-100">
                <div class="panel with-nav-tabs panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            @{
                                foreach (string item in Groups)
                                {
                                    <li><a href="#@(item.Replace(" ","").Replace("+","-"))" data-toggle="tab" style="font-size: 23px;">@(item.Replace(" ", "-"))</a></li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            @{
                                foreach (string prod in Groups)
                                {
                                    <div class="tab-pane fade" id="@(prod.Replace(" ","").Replace("+","-"))">
                                        <div class="row">
                                            @* buttons to filter one button active at a time  *@
                                                <div class="filter-buttons" style="margin:5px;margin-left:15px;">
                                                    <button class="button-3d" data-filter="TLF">TLF</button>
                                                    <button class="button-3d" data-filter="TWL">TWL</button>
                                                    <button class="button-3d" data-filter="TLD">TLD</button>
                                                    <button class="button-3d" data-filter="SOTLF">SOTLF</button>
                                                    <button class="button-3d" data-filter="SOTWL">SOTWL</button>
                                                    <button class="button-3d" data-filter="All">Show All</button>
                                                </div>


                                            <div class="tab-container pump-view-tab-container">
                                                @{
                                                    List<tblPump> lstpmp; //= Model.Where(x => x.tblProduct != null && x.tblProduct.ProdNameShort == prod).ToList();
                                                    if (clsConfig.PumpsGrouping == "Service-Wise".ToUpper()) { lstpmp = Model.Where(x => x.ServiceID != null && x.tblPumpService.Service == prod).ToList(); }
                                                    else { lstpmp = Model.Where(x => x.tblProduct != null && x.tblProduct.ProdNameShort == prod).ToList(); }
                                                    foreach (tblPump pump in lstpmp)
                                                    {
                                                        string pumpName = pump.TagPrefix;
                                                        tblDeviceMaster SucPT = pump.tblDeviceMasters.Where(x => x.DeviceID == 3 && x.DeviceDesc.ToUpper().Contains("SUC")).FirstOrDefault();
                                                        tblDeviceMaster DiscPT = pump.tblDeviceMasters.Where(x => x.DeviceID == 3 && x.DeviceDesc.ToUpper().Contains("DISC")).FirstOrDefault();
                                                        tblDeviceMaster StrainerDPT = pump.tblDeviceMasters.Where(x => x.DeviceID == 23).FirstOrDefault();
                                                        <div class="col-lg-2 col-md-3 pump-view-wrapper pump-view-md">
                                                            <span class="pump-view-header">
                                                                <span id="tabPumpName" style="background-color:@pump.tblProduct.ProductColor; text-shadow: 0px 1px 1px #000;">@pump.EquipmentName</span>
                                                                <span style="background-color:@pump.tblProduct.ProductColor; text-shadow: 0px 1px 1px #000;">@pump.tblProduct.ProdNameShort</span>
                                                            </span>
                                                            <div class="pump-view-pump @(pump.tblPumpService.TagPrefix.ToLower())-device">
                                                                <span title="" data-tooltip-attr="LOCREM" class="tooltips control-icon @(pumpName+"_LOCREM")"></span>
                                                                <div title="Pump Off" data-tooltip-attr="PMP*" onclick="OpenPumpModal(@pump.UniqueID,'@(pump.PageName)')" class="tooltips @pump.tblPumpService.TagPrefix.ToLower() @(pumpName+"_RUN_IMG") @(pumpName+"_TRIP_IMG") @(pumpName+"_FAIL_IMG")" style="position: relative;left:10px;top:2px;margin: auto;">
                                                                    <span class="maintainence-mode-icon @(pumpName+"_MAINT")" data-opcvalue=""></span>
                                                                </div>
                                                                <span title="" data-tooltip-attr="AUTOMAN" class="tooltips control-icon @(pumpName+"_AUTOMAN")" onclick="OpenGenericAutoManModal('Change Auto/Manual Mode Pump','Pump: @pump.EquipmentName', '@(pumpName+"_AUTOMAN")', '@(pumpName+"_LOCREM")', 'TAG_AUTOMAN','@pump.PageName','@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]'); cancelBubble(event);"></span>
                                                                <span class="sine-wave tooltips @(pumpName+"_ON_VFD")" title="Pump on VFD"></span>
                                                            </div>

                                                            <table class="pump-view-detail-tbl table-striped">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="pump-view-detail-tbl-lbl">Priority <span aria-hidden="true"></span></td>
                                                                        <td class="pump-view-detail-tbl-val @(pumpName+"_PRIORITY_DDL")">
                                                                            <span class="tank_mode_lbl">&nbsp;</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="row hide">
                                            @{
                                                if ((prod == "MS" || prod == "HSD" || prod == "ETH" || prod == "HEX"))
                                                {
                                                    <div class="timer-lbl" style="margin: 10px; font-size:20px; font-weight:bold">
                                                        Pump Interlocks :
                                                    </div>
                                                    <div class="col-lg-3 no-padd">
                                                        <table class="detail-tbl table-striped">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="detail-tbl-lbl" colspan="2"><span class="">Pump Demand</span></td>
                                                                    <td class="detail-tbl-val" colspan="2">
                                                                        <span class="pump-househeader-info-val @(prod+"_PMP_DEMAND")"></span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="detail-tbl-lbl" colspan="2"><span class="">Header TOBV Open</span></td>
                                                                    <td class="detail-tbl-val" colspan="2">
                                                                        <span class="circle-cont-sm">
                                                                            <span class="pump-househeader-info-val @(prod+"_HEADER_TOBV_OPEN")"></span>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="detail-tbl-lbl" colspan="2"><span class="">Dispatch Tank in LoLo</span></td>
                                                                    <td class="detail-tbl-val" colspan="2">
                                                                        <span class="circle-cont-sm">
                                                                            <span class="pump-househeader-info-val @(prod+"_DISP_TANK_LOLO")"></span>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="detail-tbl-lbl" colspan="2"><span class="">Tank Line Up</span></td>
                                                                    <td class="detail-tbl-val" colspan="2">
                                                                        <span class="pump-househeader-info-val @(prod+"_TANKS_LINEUP")"></span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="row">
                                            @{
                                                if (clsConfig.ProjPath == "" && (prod == "MS" || prod == "HSD" || prod == "ETH" || prod == "SKO"))
                                                {
                                                    <div class="timer-lbl" style="margin-left: 10px;">
                                                        Pump & Tank Mode Interlock :
                                                        <div class="toggle-wrapper toggle-invert tooltips" onclick="cancelBubble(event);SetProcessValue('Tank Mode and Pump Interlock Bypass','@(prod)',this, '@(prod+"_PMP_TKMODE_BYPASS")', 'TOGGLE', '@Session[clsConstants.UserID]', '@Session[clsConstants.LoginID]', '@Session[clsConstants.UserName]')">
                                                            <input id="toggle-maintainence-mode" class="on-off-btn @(prod+"_PMP_TKMODE_BYPASS")" data-on="Bypassed" data-off="Enabled" checked type="checkbox" data-opcvalue="">
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.nav-tabs a:first').tab('show');
        opcPageName = 'PumpView.*,@OtherPages';
        InitConn(opcPageName, 0);
        opc.server.readPageTags(opcPageName);

        $(".button-3d").click(function () {
        var filterText = $(this).data("filter");

        $(".pump-view-wrapper").each(function () {
            var pumpName = $(this).find("#tabPumpName").text().trim();
            console.log(pumpName)
            const parts = pumpName.split("-");
            const lastSegment = parts.pop() || "Not found";

            if (filterText === "All" || lastSegment == filterText) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
        });

    });
</script>
<script src="~/Scripts/PageJS/PlantView/PumpsView/Index.js"></script>
