@{
    ViewBag.Title = "Add Bays";
    Layout = null;
    var batchList = ViewBag.batchList;
    var bayList = ViewBag.bayList;
    var ddlLoadDirs = ViewBag.ddlLoadDirs;
    var ddlACUs = ViewBag.ddlACUs;
    var ddlLoadPurpose = ViewBag.ddlLoadPurpose;
}

<h2 class="headingPage">
    Create a new Loading Point
</h2>
<div class="row">
    <div class="col-lg-12 col-md-12 form-container">
        <form id="FormBU" role="form" class="form-fields">
            @*<div class="col-lg-3 col-md-3 col-sm-3">
                <div class="fields form-group">
                    <label>Gantry No.</label>
                    <input type="text" name="GantryNo" id="txtGantryNo" placeholder="Enter Gantry No (1-9)" class="form-control">
                </div>
            </div>*@
            
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="fields form-group">
                    <label>Bay No.</label>
                    <select class="form-control" id="ddlBayNo" name="BayNo">
                        <option value="" selected="selected">Please Select Bay No</option>
                        @foreach (var data in bayList)
                        {
                            <option value="@data.BayID">@data.BayName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="fields form-group">
                    <label>Loading Point No.</label>
                    <input type="text" class="form-control" placeholder="Enter Loading Point No (1-99)" id="txtLoadingPoint" name="LoadingPoint" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="fields form-group">
                    <label>Arm No.</label>
                    <select class="form-control" id="ddlArmNo" name="ArmNo">
                        <option selected="selected" value=0>Select ARM No.</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                    </select>
                </div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="fields form-group">
                    <label>Batch Controller No.</label>
                    <select class="form-control" id="ddlBcNo" name="BCNo">
                        <option value="" selected="selected">Please Select BC No</option>
                        @foreach (var data in batchList)
                        {
                            <option value="@data.BCNo">@data.BCName</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="fields form-group">
                    <label>Loading Type</label>
                    <select class="form-control" id="ddlLoadingType" name="LoadingType">
                        <option value="0" selected="selected">Select Loading Type</option>
                        @foreach (var Dir in ddlLoadDirs)
                        {
                            <option value="@Dir.UniqueID">@Dir.LoadDirection</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="fields form-group">
                    <label>Loading Purpose</label>
                    <select class="form-control" id="ddlLoadingPurpose" name="LoadingPurpose">
                        <option value="0" selected="selected">Select Loading Purpose</option>
                        @foreach (var Purp in ddlLoadPurpose)
                        {
                            <option value="@Purp.UniqueID">@Purp.LoadPurposeDesc</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 checkbox-field">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input id="chkLpEnable" name="LpEnable" type="checkbox" class="form-control">
                    </span>
                    <input type="text" class="form-control" value="Loading Point Enabled" disabled>
                </div>
            </div>

            @*<div class="col-lg-3 col-md-3 col-sm-3 checkbox-field">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input id="chkToDoFlushing" name="ToDoFlushing" type="checkbox" class="form-control">
                    </span>
                    <input type="text" class="form-control" value="Flushing Enabled on LP" disabled>
                </div>
            </div>*@  
        </form>
    </div>
</div>
<div class="row button-bar">
    <div class="col-lg-12">
        <a id="saveButton" role="button" class="btn btn-primary" href="#" onclick="SaveBays();"><span class="glyphicon glyphicon-floppy-disk"></span>SAVE</a>
        <a id="cancelButton" role="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="#cancelModal"><span class="glyphicon glyphicon-remove"></span>CANCEL</a>
    </div>
</div>
<script src="~/Scripts/PageJS/Masters/LPMaster/LPMaster.js"></script>
<script>
    $(document).ready(function () {
        //LoadDDLProduct($('#ddlProduct'));
        //Raghvendra
        //LoadDDLACUNo();
        //LoadDDLLoadingType();
        //LoadDDLArmNo();
    });
</script>